In [1]:
library(dplyr)
library(ggplot2)
library(data.table)
library(Hmisc)
library(MESS)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Attaching package: 'data.table'

The following objects are masked from 'package:dplyr':

    between, first, last

Warning message:
"package 'Hmisc' was built under R version 3.5.2"Loading required package: lattice
Loading required package: survival
Loading required package: Formula

Attaching package: 'Hmisc'

The following objects are masked from 'package:dplyr':

    src, summarize

The following objects are masked from 'package:base':

    format.pval, units

Loading required package: geepack
Loading required package: geeM
Loading required package: Matrix

In [2]:
w01 <- read.csv(file="C:/Users/Chen/Project/data/w01.csv")

In [3]:
pre <- read.csv(file="C:/Users/Chen/Project/data/Precipitation 2007_2013.csv",colClasses=rep("factor",10))
#Precipitation 2007_2013

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"cols = 6 != length(data) = 10"

In [4]:
head(pre)
str(pre)

  Year Month Day Date       PrecipTotal PrecipTotal2
1 2007 3     1   01/03/2007 1.09        0.37
2 2007 3     2   02/03/2007 0.06        0.01
3 2007 3     3   03/03/2007 0.02        T
4 2007 3     4   04/03/2007 0.00        0.00
5 2007 3     5   05/03/2007 0.00        0.00
6 2007 3     6   06/03/2007 0.05        0.01

'data.frame':	244 obs. of  6 variables:
 $ Year        : Factor w/ 4 levels "2007","2009",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Month       : Factor w/ 2 levels "3","4": 1 1 1 1 1 1 1 1 1 1 ...
 $ Day         : Factor w/ 31 levels "1","10","11",..: 1 12 23 26 27 28 29 30 31 2 ...
 $ Date        : Factor w/ 244 levels "01/03/2007","01/03/2009",..: 1 9 17 25 33 41 49 57 65 73 ...
 $ PrecipTotal : Factor w/ 53 levels "0.00","0.01",..: 47 7 3 1 1 6 4 1 21 1 ...
 $ PrecipTotal2: Factor w/ 54 levels "0.00","0.01",..: 28 2 54 1 1 2 2 1 16 54 ...

In [5]:
pre$PrecipTotal<-as.numeric(as.matrix(pre$PrecipTotal))
pre$PrecipTotal2<-as.numeric(as.matrix(pre$PrecipTotal2))

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

In [6]:
pre$PrecipTotal[is.na(pre$PrecipTotal)] <- 0.001
pre$PrecipTotal2[is.na(pre$PrecipTotal2)] <- 0.001

In [7]:
pre$Date<- as.Date(pre$Date, format = "%d/%m/%Y")

In [8]:
head(pre)
str(pre)

  Year Month Day Date       PrecipTotal PrecipTotal2
1 2007 3     1   2007-03-01 1.09        0.370
2 2007 3     2   2007-03-02 0.06        0.010
3 2007 3     3   2007-03-03 0.02        0.001
4 2007 3     4   2007-03-04 0.00        0.000
5 2007 3     5   2007-03-05 0.00        0.000
6 2007 3     6   2007-03-06 0.05        0.010

'data.frame':	244 obs. of  6 variables:
 $ Year        : Factor w/ 4 levels "2007","2009",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Month       : Factor w/ 2 levels "3","4": 1 1 1 1 1 1 1 1 1 1 ...
 $ Day         : Factor w/ 31 levels "1","10","11",..: 1 12 23 26 27 28 29 30 31 2 ...
 $ Date        : Date, format: "2007-03-01" "2007-03-02" ...
 $ PrecipTotal : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PrecipTotal2: num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...

In [9]:
w01$Date<- as.Date(w01$Date, format = "%Y-%m-%d")

In [10]:
str(w01)

'data.frame':	1472 obs. of  74 variables:
 $ Date            : Date, format: "2007-05-01" "2007-05-02" ...
 $ ID              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Station2        : int  2 2 2 2 2 2 2 2 2 2 ...
 $ Tmax2           : int  84 60 67 78 66 68 84 80 76 83 ...
 $ Tmin2           : int  52 43 48 51 54 52 50 60 63 59 ...
 $ Tavg2           : int  33 17 23 NA 25 25 32 35 35 36 ...
 $ DewPoint2       : int  51 42 40 42 39 30 39 57 60 52 ...
 $ WetBulb2        : int  26 16 19 19 19 15 22 32 32 30 ...
 $ Heat2           : int  1 6 28 NA 26 26 1 1 1 1 ...
 $ Cool2           : int  4 1 1 NA 1 1 3 6 6 7 ...
 $ PrecipTotal2    : num  0 0 0 0 0 0 0 0 0.02 0 ...
 $ StnPressure2    : num  29.2 29.4 29.5 29.4 29.5 ...
 $ SeaLevel2       : num  29.8 30.1 30.1 30 30.1 ...
 $ ResultSpeed2    : num  2.7 13.3 12.9 10.1 11.2 13.8 8.5 2.5 3.9 2 ...
 $ ResultDir2      : int  25 2 6 7 7 10 17 8 7 9 ...
 $ AvgSpeed2       : num  9.6 13.4 13.2 10.4 11.5 14.5 9.9 5.4 5.9 3.9 ...
 $ BCFG2           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ BR2             : int  0 1 0 0 0 0 0 0 1 1 ...
 $ DZ2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG.2            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FU2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GR2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ2             : int  0 1 1 0 0 0 0 1 1 1 ...
 $ RA2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ SN2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ SQ2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TS2             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA2           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCFG2           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS2           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Tmax2.imp       : int  84 60 67 78 66 68 84 80 76 83 ...
 $ Tavg2.imp       : num  33 17 23 35.2 25 ...
 $ PrecipTotal2.imp: num  0 0 0 0 0 0 0 0 0.02 0 ...
 $ RA45.2          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ PT45_gt052      : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Station         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ Tmax            : int  83 59 66 66 66 68 83 82 77 84 ...
 $ Tmin            : int  50 42 46 49 53 49 47 54 61 56 ...
 $ Tavg            : int  32 16 21 23 25 24 30 33 34 35 ...
 $ Depart          : int  32 11 20 22 23 22 28 30 31 32 ...
 $ DewPoint        : int  51 42 40 41 38 30 41 58 59 52 ...
 $ WetBulb         : int  25 16 17 19 18 15 23 31 32 29 ...
 $ Heat            : int  1 7 30 28 26 27 1 1 1 1 ...
 $ Cool            : int  3 1 1 1 1 1 1 4 5 6 ...
 $ Sunrise         : int  448 447 446 444 443 442 441 439 438 437 ...
 $ Sunset          : int  1849 1850 1851 1852 1853 1855 1856 1857 1858 1859 ...
 $ SnowFall        : num  0 0 0 0 0 0 0 0 0 0 ...
 $ PrecipTotal     : num  0 0 0 0 0 0 0 0 0.13 0 ...
 $ StnPressure     : num  29.1 29.4 29.4 29.3 29.4 ...
 $ SeaLevel        : num  29.8 30.1 30.1 30.1 30.1 ...
 $ ResultSpeed     : num  1.7 13 11.7 10.4 11.7 14.4 8.6 2.7 3.9 0.7 ...
 $ ResultDir       : int  27 4 7 8 7 11 18 11 9 17 ...
 $ AvgSpeed        : num  9.2 13.4 11.9 10.8 12 15 10.5 5.8 6.2 4.1 ...
 $ BCFG            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ BR              : int  0 1 0 0 0 0 0 1 1 1 ...
 $ DZ              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG.             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FU              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ              : int  0 0 0 0 0 0 0 0 1 0 ...
 $ MIFG            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA              : int  0 0 0 1 0 0 1 0 0 0 ...
 $ SN              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ SQ              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TS              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA45            : int  NA NA NA NA NA NA NA NA NA NA ...
 $ PT45_gt05       : int  NA NA NA NA NA NA NA NA NA NA ...
 $ year            : int  2007 2007 2007 2007 2007 2007 2007 2007 2007 2007 ...
 $ Month           : int  5 5 5 5 5 5 5 5 5 5 ...
 $ MoDay           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Month_Day       : Factor w/ 184 levels "05-01","05-02",..: 1 2 3 4 5 6 7 8 9 10 ...

In [11]:
vars <- c("Date", "PrecipTotal", "PrecipTotal2.imp")
w02 <- w01[vars]
head(w02)
dim(w02)

  Date       PrecipTotal PrecipTotal2.imp
1 2007-05-01 0           0
2 2007-05-02 0           0
3 2007-05-03 0           0
4 2007-05-04 0           0
5 2007-05-05 0           0
6 2007-05-06 0           0

[1] 1472    3

In [12]:
allpre<-merge(x = w02, y = pre, by = "Date", all = TRUE)
dim(allpre)

[1] 1716    8

In [13]:
head(allpre)

  Date       PrecipTotal.x PrecipTotal2.imp Year Month Day PrecipTotal.y
1 2007-03-01 NA            NA               2007 3     1   1.09
2 2007-03-02 NA            NA               2007 3     2   0.06
3 2007-03-03 NA            NA               2007 3     3   0.02
4 2007-03-04 NA            NA               2007 3     4   0.00
5 2007-03-05 NA            NA               2007 3     5   0.00
6 2007-03-06 NA            NA               2007 3     6   0.05
  PrecipTotal2
1 0.370
2 0.010
3 0.001
4 0.000
5 0.000
6 0.010

In [14]:
allpre$PrecipTotal2.imp[is.na(allpre$PrecipTotal2.imp)] <- allpre$PrecipTotal2[is.na(allpre$PrecipTotal2.imp)]

In [15]:
allpre$PrecipTotal.x[is.na(allpre$PrecipTotal.x)] <- allpre$PrecipTotal.y[is.na(allpre$PrecipTotal.x)]

In [16]:
head(allpre)

  Date       PrecipTotal.x PrecipTotal2.imp Year Month Day PrecipTotal.y
1 2007-03-01 1.09          0.370            2007 3     1   1.09
2 2007-03-02 0.06          0.010            2007 3     2   0.06
3 2007-03-03 0.02          0.001            2007 3     3   0.02
4 2007-03-04 0.00          0.000            2007 3     4   0.00
5 2007-03-05 0.00          0.000            2007 3     5   0.00
6 2007-03-06 0.05          0.010            2007 3     6   0.05
  PrecipTotal2
1 0.370
2 0.010
3 0.001
4 0.000
5 0.000
6 0.010

In [17]:
str(allpre)

'data.frame':	1716 obs. of  8 variables:
 $ Date            : Date, format: "2007-03-01" "2007-03-02" ...
 $ PrecipTotal.x   : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PrecipTotal2.imp: num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...
 $ Year            : Factor w/ 4 levels "2007","2009",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Month           : Factor w/ 2 levels "3","4": 1 1 1 1 1 1 1 1 1 1 ...
 $ Day             : Factor w/ 31 levels "1","10","11",..: 1 12 23 26 27 28 29 30 31 2 ...
 $ PrecipTotal.y   : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PrecipTotal2    : num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...

In [18]:
describe(allpre)

allpre

 8  Variables      1716  Observations
--------------------------------------------------------------------------------
Date
       n  missing distinct
    1716        0     1716

lowest : 2007-03-01 2007-03-02 2007-03-03 2007-03-04 2007-03-05
highest: 2014-10-27 2014-10-28 2014-10-29 2014-10-30 2014-10-31
--------------------------------------------------------------------------------
PrecipTotal.x
       n  missing distinct     Info     Mean      Gmd      .05      .10
    1716        0      135    0.761   0.1363   0.2369     0.00     0.00
     .25      .50      .75      .90      .95
    0.00     0.00     0.07     0.42     0.80

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 3.540 3.640 3.970 6.640 6.860
--------------------------------------------------------------------------------
PrecipTotal2.imp
       n  missing distinct     Info     Mean      Gmd      .05      .10
    1716        0      140    0.781   0.1285   0.2227   0.0000   0.0000
     .25      .50      .75      .90      .95
  0.0000   0.0000   0.0600   0.4150   0.8025

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 3.150 3.170 3.310 3.660 4.730
--------------------------------------------------------------------------------
Year
       n  missing distinct
     244     1472        4

Value      2007 2009 2011 2013
Frequency    61   61   61   61
Proportion 0.25 0.25 0.25 0.25
--------------------------------------------------------------------------------
Month
       n  missing distinct
     244     1472        2

Value          3     4
Frequency    124   120
Proportion 0.508 0.492
--------------------------------------------------------------------------------
Day
       n  missing distinct
     244     1472       31

lowest : 1  10 11 12 13, highest: 5  6  7  8  9
--------------------------------------------------------------------------------
PrecipTotal.y
       n  missing distinct     Info     Mean      Gmd      .05      .10
     244     1472       53    0.908   0.1466   0.2476    0.000    0.000
     .25      .50      .75      .90      .95
   0.000    0.001    0.090    0.504    0.870

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 1.110 1.150 1.670 2.010 3.540
--------------------------------------------------------------------------------
PrecipTotal2
       n  missing distinct     Info     Mean      Gmd      .05      .10
     244     1472       54    0.926   0.1276   0.2162   0.0000   0.0000
     .25      .50      .75      .90      .95
  0.0000   0.0010   0.0800   0.4170   0.8525

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 1.240 1.260 1.660 1.840 1.870
--------------------------------------------------------------------------------

In [19]:
head(allpre)

  Date       PrecipTotal.x PrecipTotal2.imp Year Month Day PrecipTotal.y
1 2007-03-01 1.09          0.370            2007 3     1   1.09
2 2007-03-02 0.06          0.010            2007 3     2   0.06
3 2007-03-03 0.02          0.001            2007 3     3   0.02
4 2007-03-04 0.00          0.000            2007 3     4   0.00
5 2007-03-05 0.00          0.000            2007 3     5   0.00
6 2007-03-06 0.05          0.010            2007 3     6   0.05
  PrecipTotal2
1 0.370
2 0.010
3 0.001
4 0.000
5 0.000
6 0.010

In [20]:
colnames(allpre)

[1] "Date"             "PrecipTotal.x"    "PrecipTotal2.imp" "Year"
[5] "Month"            "Day"              "PrecipTotal.y"    "PrecipTotal2"

In [55]:
var2<-c('Date', 'PrecipTotal.x', 'PrecipTotal2.imp' )
preT<-allpre[var2]

In [56]:
head(preT)
str(preT)

  Date       PrecipTotal.x PrecipTotal2.imp
1 2007-03-01 1.09          0.370
2 2007-03-02 0.06          0.010
3 2007-03-03 0.02          0.001
4 2007-03-04 0.00          0.000
5 2007-03-05 0.00          0.000
6 2007-03-06 0.05          0.010

'data.frame':	1716 obs. of  3 variables:
 $ Date            : Date, format: "2007-03-01" "2007-03-02" ...
 $ PrecipTotal.x   : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PrecipTotal2.imp: num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...

In [23]:
describe(preT)

preT

 3  Variables      1716  Observations
--------------------------------------------------------------------------------
Date
       n  missing distinct
    1716        0     1716

lowest : 2007-03-01 2007-03-02 2007-03-03 2007-03-04 2007-03-05
highest: 2014-10-27 2014-10-28 2014-10-29 2014-10-30 2014-10-31
--------------------------------------------------------------------------------
PrecipTotal.x
       n  missing distinct     Info     Mean      Gmd      .05      .10
    1716        0      135    0.761   0.1363   0.2369     0.00     0.00
     .25      .50      .75      .90      .95
    0.00     0.00     0.07     0.42     0.80

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 3.540 3.640 3.970 6.640 6.860
--------------------------------------------------------------------------------
PrecipTotal2.imp
       n  missing distinct     Info     Mean      Gmd      .05      .10
    1716        0      140    0.781   0.1285   0.2227   0.0000   0.0000
     .25      .50      .75      .90      .95
  0.0000   0.0000   0.0600   0.4150   0.8025

lowest : 0.000 0.001 0.010 0.020 0.030, highest: 3.150 3.170 3.310 3.660 4.730
--------------------------------------------------------------------------------

In [43]:
write.csv(preT, file="C:/Users/Chen/Project/data/preT.csv", row.names =F)

In [24]:
library(dplyr)
library(ggplot2)
library(data.table)
library(Hmisc)
library(MESS)

In [25]:
library(xts)
library(quantmod)

Warning message:
"package 'xts' was built under R version 3.5.2"Loading required package: zoo
Warning message:
"package 'zoo' was built under R version 3.5.2"
Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric


Attaching package: 'xts'

The following objects are masked from 'package:data.table':

    first, last

The following objects are masked from 'package:dplyr':

    first, last

Warning message:
"package 'quantmod' was built under R version 3.5.2"Loading required package: TTR
Warning message:
"package 'TTR' was built under R version 3.5.2"Version 0.4-0 included new data defaults. See ?getSymbols.

Attaching package: 'quantmod'

The following object is masked from 'package:Hmisc':

    Lag

In [26]:
head(preT)

  Date       PrecipTotal.x PrecipTotal2.imp
1 2007-03-01 1.09          0.370
2 2007-03-02 0.06          0.010
3 2007-03-03 0.02          0.001
4 2007-03-04 0.00          0.000
5 2007-03-05 0.00          0.000
6 2007-03-06 0.05          0.010

In [27]:
q <- preT[,c("Date","PrecipTotal.x")]
qxts <- xts(q[,"PrecipTotal.x"], order.by=q[,"Date"])
names(qxts) <- "PrecipTotal.x"

In [28]:
head(qxts)

           PrecipTotal.x
2007-03-01          1.09
2007-03-02          0.06
2007-03-03          0.02
2007-03-04          0.00
2007-03-05          0.00
2007-03-06          0.05

In [ ]:
P45 <- data.frame(qxts$PT45)
P45$Date <- as.Date(rownames(rain45))
head(rain45)
str(rain45)

In [29]:
qxts$PT45 = runMax(qxts$PrecipTotal.x,n=45)
qxts$pre45_05 <- ifelse(qxts$PT45>0.5,1,0)
head(qxts,50)

           PrecipTotal.x PT45 pre45_05
2007-03-01         1.090   NA       NA
2007-03-02         0.060   NA       NA
2007-03-03         0.020   NA       NA
2007-03-04         0.000   NA       NA
2007-03-05         0.000   NA       NA
2007-03-06         0.050   NA       NA
2007-03-07         0.030   NA       NA
2007-03-08         0.000   NA       NA
2007-03-09         0.280   NA       NA
2007-03-10         0.000   NA       NA
2007-03-11         0.000   NA       NA
2007-03-12         0.001   NA       NA
2007-03-13         0.000   NA       NA
2007-03-14         0.160   NA       NA
2007-03-15         0.001   NA       NA
2007-03-16         0.000   NA       NA
2007-03-17         0.000   NA       NA
2007-03-18         0.000   NA       NA
2007-03-19         0.060   NA       NA
2007-03-20         0.000   NA       NA
2007-03-21         1.070   NA       NA
2007-03-22         0.090   NA       NA
2007-03-23         0.040   NA       NA
2007-03-24         0.001   NA       NA
2007-03-25         0.000   NA       NA
2007-03-26         0.000   NA       NA
2007-03-27         0.000   NA       NA
2007-03-28         0.200   NA       NA
2007-03-29         0.000   NA       NA
2007-03-30         0.001   NA       NA
2007-03-31         0.510   NA       NA
2007-04-01         0.090   NA       NA
2007-04-02         0.000   NA       NA
2007-04-03         0.150   NA       NA
2007-04-04         0.001   NA       NA
2007-04-05         0.000   NA       NA
2007-04-06         0.000   NA       NA
2007-04-07         0.000   NA       NA
2007-04-08         0.001   NA       NA
2007-04-09         0.001   NA       NA
2007-04-10         0.000   NA       NA
2007-04-11         1.150   NA       NA
2007-04-12         0.090   NA       NA
2007-04-13         0.000   NA       NA
2007-04-14         0.000 1.15        1
2007-04-15         0.000 1.15        1
2007-04-16         0.000 1.15        1
2007-04-17         0.001 1.15        1
2007-04-18         0.001 1.15        1
2007-04-19         0.001 1.15        1

In [30]:
head(preT)

  Date       PrecipTotal.x PrecipTotal2.imp
1 2007-03-01 1.09          0.370
2 2007-03-02 0.06          0.010
3 2007-03-03 0.02          0.001
4 2007-03-04 0.00          0.000
5 2007-03-05 0.00          0.000
6 2007-03-06 0.05          0.010

In [31]:
q1 <- preT[,c("Date","PrecipTotal2.imp")]
qxts1 <- xts(q1[,"PrecipTotal2.imp"], order.by=q1[,"Date"])
names(qxts1) <- "PrecipTotal2.imp"

In [32]:
head(qxts1)

           PrecipTotal2.imp
2007-03-01            0.370
2007-03-02            0.010
2007-03-03            0.001
2007-03-04            0.000
2007-03-05            0.000
2007-03-06            0.010

In [33]:
qxts1$PT452 = runMax(qxts1$PrecipTotal2.imp,n=45)
qxts1$pre45_052 <- ifelse(qxts1$PT452>0.5,1,0)
head(qxts1,50)

           PrecipTotal2.imp PT452 pre45_052
2007-03-01            0.370    NA        NA
2007-03-02            0.010    NA        NA
2007-03-03            0.001    NA        NA
2007-03-04            0.000    NA        NA
2007-03-05            0.000    NA        NA
2007-03-06            0.010    NA        NA
2007-03-07            0.010    NA        NA
2007-03-08            0.000    NA        NA
2007-03-09            0.170    NA        NA
2007-03-10            0.001    NA        NA
2007-03-11            0.000    NA        NA
2007-03-12            0.001    NA        NA
2007-03-13            0.000    NA        NA
2007-03-14            0.210    NA        NA
2007-03-15            0.001    NA        NA
2007-03-16            0.000    NA        NA
2007-03-17            0.001    NA        NA
2007-03-18            0.001    NA        NA
2007-03-19            0.360    NA        NA
2007-03-20            0.001    NA        NA
2007-03-21            0.870    NA        NA
2007-03-22            0.220    NA        NA
2007-03-23            0.110    NA        NA
2007-03-24            0.001    NA        NA
2007-03-25            0.000    NA        NA
2007-03-26            0.000    NA        NA
2007-03-27            0.000    NA        NA
2007-03-28            0.320    NA        NA
2007-03-29            0.000    NA        NA
2007-03-30            0.001    NA        NA
2007-03-31            0.470    NA        NA
2007-04-01            0.030    NA        NA
2007-04-02            0.000    NA        NA
2007-04-03            0.070    NA        NA
2007-04-04            0.001    NA        NA
2007-04-05            0.000    NA        NA
2007-04-06            0.000    NA        NA
2007-04-07            0.001    NA        NA
2007-04-08            0.000    NA        NA
2007-04-09            0.001    NA        NA
2007-04-10            0.000    NA        NA
2007-04-11            0.910    NA        NA
2007-04-12            0.080    NA        NA
2007-04-13            0.000    NA        NA
2007-04-14            0.001  0.91         1
2007-04-15            0.000  0.91         1
2007-04-16            0.000  0.91         1
2007-04-17            0.000  0.91         1
2007-04-18            0.001  0.91         1
2007-04-19            0.001  0.91         1

In [47]:
PPT45<- merge(x = qxts1, y = qxts, by = "Date", all.x = TRUE)
dim(PPT45)

Warning message in merge.xts(x = qxts1, y = qxts, by = "Date", all.x = TRUE):
"NAs introduced by coercion"Warning message in merge.xts(x = qxts1, y = qxts, by = "Date", all.x = TRUE):
"NAs introduced by coercion"

[1] 1716    8

In [49]:
PPT45<-as.data.frame(PPT45)

In [51]:
PPT45$Date <- as.Date(rownames(PPT45))
head(PPT45)
str(PPT45)

           PrecipTotal2.imp PT452 pre45_052 PrecipTotal.x PT45 pre45_05 by
2007-03-01 0.370            NA    NA        1.09          NA   NA       NA
2007-03-02 0.010            NA    NA        0.06          NA   NA       NA
2007-03-03 0.001            NA    NA        0.02          NA   NA       NA
2007-03-04 0.000            NA    NA        0.00          NA   NA       NA
2007-03-05 0.000            NA    NA        0.00          NA   NA       NA
2007-03-06 0.010            NA    NA        0.05          NA   NA       NA
           all.x Date
2007-03-01 1     2007-03-01
2007-03-02 1     2007-03-02
2007-03-03 1     2007-03-03
2007-03-04 1     2007-03-04
2007-03-05 1     2007-03-05
2007-03-06 1     2007-03-06

'data.frame':	1716 obs. of  9 variables:
 $ PrecipTotal2.imp: num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...
 $ PT452           : num  NA NA NA NA NA NA NA NA NA NA ...
 $ pre45_052       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ PrecipTotal.x   : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PT45            : num  NA NA NA NA NA NA NA NA NA NA ...
 $ pre45_05        : num  NA NA NA NA NA NA NA NA NA NA ...
 $ by              : num  NA NA NA NA NA NA NA NA NA NA ...
 $ all.x           : num  1 1 1 1 1 1 1 1 1 1 ...
 $ Date            : Date, format: "2007-03-01" "2007-03-02" ...

In [52]:
head(PPT45,70)

           PrecipTotal2.imp PT452 pre45_052 PrecipTotal.x PT45 pre45_05 by
2007-03-01 0.370            NA    NA        1.090         NA   NA       NA
2007-03-02 0.010            NA    NA        0.060         NA   NA       NA
2007-03-03 0.001            NA    NA        0.020         NA   NA       NA
2007-03-04 0.000            NA    NA        0.000         NA   NA       NA
2007-03-05 0.000            NA    NA        0.000         NA   NA       NA
2007-03-06 0.010            NA    NA        0.050         NA   NA       NA
2007-03-07 0.010            NA    NA        0.030         NA   NA       NA
2007-03-08 0.000            NA    NA        0.000         NA   NA       NA
2007-03-09 0.170            NA    NA        0.280         NA   NA       NA
2007-03-10 0.001            NA    NA        0.000         NA   NA       NA
2007-03-11 0.000            NA    NA        0.000         NA   NA       NA
2007-03-12 0.001            NA    NA        0.001         NA   NA       NA
2007-03-13 0.000            NA    NA        0.000         NA   NA       NA
2007-03-14 0.210            NA    NA        0.160         NA   NA       NA
2007-03-15 0.001            NA    NA        0.001         NA   NA       NA
2007-03-16 0.000            NA    NA        0.000         NA   NA       NA
2007-03-17 0.001            NA    NA        0.000         NA   NA       NA
2007-03-18 0.001            NA    NA        0.000         NA   NA       NA
2007-03-19 0.360            NA    NA        0.060         NA   NA       NA
2007-03-20 0.001            NA    NA        0.000         NA   NA       NA
2007-03-21 0.870            NA    NA        1.070         NA   NA       NA
2007-03-22 0.220            NA    NA        0.090         NA   NA       NA
2007-03-23 0.110            NA    NA        0.040         NA   NA       NA
2007-03-24 0.001            NA    NA        0.001         NA   NA       NA
2007-03-25 0.000            NA    NA        0.000         NA   NA       NA
2007-03-26 0.000            NA    NA        0.000         NA   NA       NA
2007-03-27 0.000            NA    NA        0.000         NA   NA       NA
2007-03-28 0.320            NA    NA        0.200         NA   NA       NA
2007-03-29 0.000            NA    NA        0.000         NA   NA       NA
2007-03-30 0.001            NA    NA        0.001         NA   NA       NA
...        ...              ...   ...       ...           ...  ...      ...
2007-04-10 0.000              NA  NA        0.000           NA NA       NA
2007-04-11 0.910              NA  NA        1.150           NA NA       NA
2007-04-12 0.080              NA  NA        0.090           NA NA       NA
2007-04-13 0.000              NA  NA        0.000           NA NA       NA
2007-04-14 0.001            0.91   1        0.000         1.15  1       NA
2007-04-15 0.000            0.91   1        0.000         1.15  1       NA
2007-04-16 0.000            0.91   1        0.000         1.15  1       NA
2007-04-17 0.000            0.91   1        0.001         1.15  1       NA
2007-04-18 0.001            0.91   1        0.001         1.15  1       NA
2007-04-19 0.001            0.91   1        0.001         1.15  1       NA
2007-04-20 0.000            0.91   1        0.000         1.15  1       NA
2007-04-21 0.000            0.91   1        0.000         1.15  1       NA
2007-04-22 0.001            0.91   1        0.001         1.15  1       NA
2007-04-23 0.000            0.91   1        0.000         1.15  1       NA
2007-04-24 0.190            0.91   1        0.300         1.15  1       NA
2007-04-25 1.240            1.24   1        1.060         1.15  1       NA
2007-04-26 0.870            1.24   1        0.490         1.15  1       NA
2007-04-27 0.020            1.24   1        0.001         1.15  1       NA
2007-04-28 0.000            1.24   1        0.000         1.15  1       NA
2007-04-29 0.170            1.24   1        0.150         1.15  1       NA
2007-04-30 0.030            1.24   1        0.010         1.15  1       NA
2007-05-01 0.000            1.24   1        0.000         1.15  1       NA
2007-05-02 0.000            1.24   1        0.000         1.15  1       NA
2007-05-03 0.000            1.24   1        0.000         1.15  1       NA
2007-05-04 0.000            1.24   1        0.000         1.15  1       NA
2007-05-05 0.000            1.24   1        0.000         1.15  1       NA
2007-05-06 0.000            1.24   1        0.000         1.15  1       NA
2007-05-07 0.000            1.24   1        0.000         1.15  1       NA
2007-05-08 0.000            1.24   1        0.000         1.15  1       NA
2007-05-09 0.020            1.24   1        0.130         1.15  1       NA
           all.x Date
2007-03-01 1     2007-03-01
2007-03-02 1     2007-03-02
2007-03-03 1     2007-03-03
2007-03-04 1     2007-03-04
2007-03-05 1     2007-03-05
2007-03-06 1     2007-03-06
2007-03-07 1     2007-03-07
2007-03-08 1     2007-03-08
2007-03-09 1     2007-03-09
2007-03-10 1     2007-03-10
2007-03-11 1     2007-03-11
2007-03-12 1     2007-03-12
2007-03-13 1     2007-03-13
2007-03-14 1     2007-03-14
2007-03-15 1     2007-03-15
2007-03-16 1     2007-03-16
2007-03-17 1     2007-03-17
2007-03-18 1     2007-03-18
2007-03-19 1     2007-03-19
2007-03-20 1     2007-03-20
2007-03-21 1     2007-03-21
2007-03-22 1     2007-03-22
2007-03-23 1     2007-03-23
2007-03-24 1     2007-03-24
2007-03-25 1     2007-03-25
2007-03-26 1     2007-03-26
2007-03-27 1     2007-03-27
2007-03-28 1     2007-03-28
2007-03-29 1     2007-03-29
2007-03-30 1     2007-03-30
...        ...   ...
2007-04-10 1     2007-04-10
2007-04-11 1     2007-04-11
2007-04-12 1     2007-04-12
2007-04-13 1     2007-04-13
2007-04-14 1     2007-04-14
2007-04-15 1     2007-04-15
2007-04-16 1     2007-04-16
2007-04-17 1     2007-04-17
2007-04-18 1     2007-04-18
2007-04-19 1     2007-04-19
2007-04-20 1     2007-04-20
2007-04-21 1     2007-04-21
2007-04-22 1     2007-04-22
2007-04-23 1     2007-04-23
2007-04-24 1     2007-04-24
2007-04-25 1     2007-04-25
2007-04-26 1     2007-04-26
2007-04-27 1     2007-04-27
2007-04-28 1     2007-04-28
2007-04-29 1     2007-04-29
2007-04-30 1     2007-04-30
2007-05-01 1     2007-05-01
2007-05-02 1     2007-05-02
2007-05-03 1     2007-05-03
2007-05-04 1     2007-05-04
2007-05-05 1     2007-05-05
2007-05-06 1     2007-05-06
2007-05-07 1     2007-05-07
2007-05-08 1     2007-05-08
2007-05-09 1     2007-05-09

In [53]:
write.csv(PPT45, file="C:/Users/Chen/Project/data/PPT45.csv", row.names =F)

In [59]:
head(preT)

  Date       PrecipTotal.x PrecipTotal2.imp
1 2007-03-01 1.09          0.370
2 2007-03-02 0.06          0.010
3 2007-03-03 0.02          0.001
4 2007-03-04 0.00          0.000
5 2007-03-05 0.00          0.000
6 2007-03-06 0.05          0.010

In [67]:
q3 <- preT[,c("Date","PrecipTotal.x")]
qxts3 <- xts(q3[,"PrecipTotal.x"], order.by=q3[,"Date"])
names(qxts3) <- "PrecipTotal.x"

In [68]:
head(qxts3)

           PrecipTotal.x
2007-03-01          1.09
2007-03-02          0.06
2007-03-03          0.02
2007-03-04          0.00
2007-03-05          0.00
2007-03-06          0.05

In [70]:
qxts3$PT45 = runMax(qxts3$PrecipTotal.x,n=45)
qxts3$pre45_1 <- ifelse(qxts3$PT45>1,1,0)
head(qxts3,50)

           PrecipTotal.x PT45 pre45_1
2007-03-01         1.090   NA      NA
2007-03-02         0.060   NA      NA
2007-03-03         0.020   NA      NA
2007-03-04         0.000   NA      NA
2007-03-05         0.000   NA      NA
2007-03-06         0.050   NA      NA
2007-03-07         0.030   NA      NA
2007-03-08         0.000   NA      NA
2007-03-09         0.280   NA      NA
2007-03-10         0.000   NA      NA
2007-03-11         0.000   NA      NA
2007-03-12         0.001   NA      NA
2007-03-13         0.000   NA      NA
2007-03-14         0.160   NA      NA
2007-03-15         0.001   NA      NA
2007-03-16         0.000   NA      NA
2007-03-17         0.000   NA      NA
2007-03-18         0.000   NA      NA
2007-03-19         0.060   NA      NA
2007-03-20         0.000   NA      NA
2007-03-21         1.070   NA      NA
2007-03-22         0.090   NA      NA
2007-03-23         0.040   NA      NA
2007-03-24         0.001   NA      NA
2007-03-25         0.000   NA      NA
2007-03-26         0.000   NA      NA
2007-03-27         0.000   NA      NA
2007-03-28         0.200   NA      NA
2007-03-29         0.000   NA      NA
2007-03-30         0.001   NA      NA
2007-03-31         0.510   NA      NA
2007-04-01         0.090   NA      NA
2007-04-02         0.000   NA      NA
2007-04-03         0.150   NA      NA
2007-04-04         0.001   NA      NA
2007-04-05         0.000   NA      NA
2007-04-06         0.000   NA      NA
2007-04-07         0.000   NA      NA
2007-04-08         0.001   NA      NA
2007-04-09         0.001   NA      NA
2007-04-10         0.000   NA      NA
2007-04-11         1.150   NA      NA
2007-04-12         0.090   NA      NA
2007-04-13         0.000   NA      NA
2007-04-14         0.000 1.15       1
2007-04-15         0.000 1.15       1
2007-04-16         0.000 1.15       1
2007-04-17         0.001 1.15       1
2007-04-18         0.001 1.15       1
2007-04-19         0.001 1.15       1

In [ ]:
qxts2$PT452 = runMax(qxts2$PrecipTotal2.imp,n=45)
qxts2$pre45_1_2 <- ifelse(qxts2$PT452>1,1,0)
head(qxts2,50)

In [64]:
q2 <- preT[,c("Date","PrecipTotal2.imp")]
qxts2 <- xts(q2[,"PrecipTotal2.imp"], order.by=q2[,"Date"])
names(qxts2) <- "PrecipTotal2.imp"

In [65]:
head(qxts2)

           PrecipTotal2.imp
2007-03-01            0.370
2007-03-02            0.010
2007-03-03            0.001
2007-03-04            0.000
2007-03-05            0.000
2007-03-06            0.010

In [66]:
qxts2$PT452 = runMax(qxts2$PrecipTotal2.imp,n=45)
qxts2$pre45_1_2 <- ifelse(qxts2$PT452>1,1,0)
head(qxts2,50)

           PrecipTotal2.imp PT452 pre45_1_2
2007-03-01            0.370    NA        NA
2007-03-02            0.010    NA        NA
2007-03-03            0.001    NA        NA
2007-03-04            0.000    NA        NA
2007-03-05            0.000    NA        NA
2007-03-06            0.010    NA        NA
2007-03-07            0.010    NA        NA
2007-03-08            0.000    NA        NA
2007-03-09            0.170    NA        NA
2007-03-10            0.001    NA        NA
2007-03-11            0.000    NA        NA
2007-03-12            0.001    NA        NA
2007-03-13            0.000    NA        NA
2007-03-14            0.210    NA        NA
2007-03-15            0.001    NA        NA
2007-03-16            0.000    NA        NA
2007-03-17            0.001    NA        NA
2007-03-18            0.001    NA        NA
2007-03-19            0.360    NA        NA
2007-03-20            0.001    NA        NA
2007-03-21            0.870    NA        NA
2007-03-22            0.220    NA        NA
2007-03-23            0.110    NA        NA
2007-03-24            0.001    NA        NA
2007-03-25            0.000    NA        NA
2007-03-26            0.000    NA        NA
2007-03-27            0.000    NA        NA
2007-03-28            0.320    NA        NA
2007-03-29            0.000    NA        NA
2007-03-30            0.001    NA        NA
2007-03-31            0.470    NA        NA
2007-04-01            0.030    NA        NA
2007-04-02            0.000    NA        NA
2007-04-03            0.070    NA        NA
2007-04-04            0.001    NA        NA
2007-04-05            0.000    NA        NA
2007-04-06            0.000    NA        NA
2007-04-07            0.001    NA        NA
2007-04-08            0.000    NA        NA
2007-04-09            0.001    NA        NA
2007-04-10            0.000    NA        NA
2007-04-11            0.910    NA        NA
2007-04-12            0.080    NA        NA
2007-04-13            0.000    NA        NA
2007-04-14            0.001  0.91         0
2007-04-15            0.000  0.91         0
2007-04-16            0.000  0.91         0
2007-04-17            0.000  0.91         0
2007-04-18            0.001  0.91         0
2007-04-19            0.001  0.91         0

In [71]:
PPT45_2<- merge(x = qxts2, y = qxts3, by = "Date", all.x = TRUE)
dim(PPT45_2)

Warning message in merge.xts(x = qxts2, y = qxts3, by = "Date", all.x = TRUE):
"NAs introduced by coercion"Warning message in merge.xts(x = qxts2, y = qxts3, by = "Date", all.x = TRUE):
"NAs introduced by coercion"

[1] 1716    8

In [73]:
PPT45_2<-as.data.frame(PPT45_2)

In [74]:
head(PPT45_2)

           PrecipTotal2.imp PT452 pre45_1_2 PrecipTotal.x PT45 pre45_1 by Date
2007-03-01 0.370            NA    NA        1.09          NA   NA      NA 1
2007-03-02 0.010            NA    NA        0.06          NA   NA      NA 1
2007-03-03 0.001            NA    NA        0.02          NA   NA      NA 1
2007-03-04 0.000            NA    NA        0.00          NA   NA      NA 1
2007-03-05 0.000            NA    NA        0.00          NA   NA      NA 1
2007-03-06 0.010            NA    NA        0.05          NA   NA      NA 1

In [76]:
PPT45_2$Date <- as.Date(rownames(PPT45_2))
head(PPT45_2)
str(PPT45_2)

           PrecipTotal2.imp PT452 pre45_1_2 PrecipTotal.x PT45 pre45_1 by
2007-03-01 0.370            NA    NA        1.09          NA   NA      NA
2007-03-02 0.010            NA    NA        0.06          NA   NA      NA
2007-03-03 0.001            NA    NA        0.02          NA   NA      NA
2007-03-04 0.000            NA    NA        0.00          NA   NA      NA
2007-03-05 0.000            NA    NA        0.00          NA   NA      NA
2007-03-06 0.010            NA    NA        0.05          NA   NA      NA
           Date
2007-03-01 2007-03-01
2007-03-02 2007-03-02
2007-03-03 2007-03-03
2007-03-04 2007-03-04
2007-03-05 2007-03-05
2007-03-06 2007-03-06

'data.frame':	1716 obs. of  8 variables:
 $ PrecipTotal2.imp: num  0.37 0.01 0.001 0 0 0.01 0.01 0 0.17 0.001 ...
 $ PT452           : num  NA NA NA NA NA NA NA NA NA NA ...
 $ pre45_1_2       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ PrecipTotal.x   : num  1.09 0.06 0.02 0 0 0.05 0.03 0 0.28 0 ...
 $ PT45            : num  NA NA NA NA NA NA NA NA NA NA ...
 $ pre45_1         : num  NA NA NA NA NA NA NA NA NA NA ...
 $ by              : num  NA NA NA NA NA NA NA NA NA NA ...
 $ Date            : Date, format: "2007-03-01" "2007-03-02" ...

In [77]:
postPT<- merge(x = PPT45, y = PPT45_2, by = "Date", all.x = TRUE)
dim(postPT)

[1] 1716   16

In [78]:
head(postPT)

  Date       PrecipTotal2.imp.x PT452.x pre45_052 PrecipTotal.x.x PT45.x
1 2007-03-01 0.370              NA      NA        1.09            NA
2 2007-03-02 0.010              NA      NA        0.06            NA
3 2007-03-03 0.001              NA      NA        0.02            NA
4 2007-03-04 0.000              NA      NA        0.00            NA
5 2007-03-05 0.000              NA      NA        0.00            NA
6 2007-03-06 0.010              NA      NA        0.05            NA
  pre45_05 by.x all.x PrecipTotal2.imp.y PT452.y pre45_1_2 PrecipTotal.x.y
1 NA       NA   1     0.370              NA      NA        1.09
2 NA       NA   1     0.010              NA      NA        0.06
3 NA       NA   1     0.001              NA      NA        0.02
4 NA       NA   1     0.000              NA      NA        0.00
5 NA       NA   1     0.000              NA      NA        0.00
6 NA       NA   1     0.010              NA      NA        0.05
  PT45.y pre45_1 by.y
1 NA     NA      NA
2 NA     NA      NA
3 NA     NA      NA
4 NA     NA      NA
5 NA     NA      NA
6 NA     NA      NA

In [79]:
colnames(postPT)

 [1] "Date"               "PrecipTotal2.imp.x" "PT452.x"
 [4] "pre45_052"          "PrecipTotal.x.x"    "PT45.x"
 [7] "pre45_05"           "by.x"               "all.x"
[10] "PrecipTotal2.imp.y" "PT452.y"            "pre45_1_2"
[13] "PrecipTotal.x.y"    "PT45.y"             "pre45_1"
[16] "by.y"

In [80]:
myvars <- c("Date", "pre45_1_2", "pre45_1","pre45_05",'pre45_052' )
PPT3 <- postPT[myvars]
head(PPT3)

  Date       pre45_1_2 pre45_1 pre45_05 pre45_052
1 2007-03-01 NA        NA      NA       NA
2 2007-03-02 NA        NA      NA       NA
3 2007-03-03 NA        NA      NA       NA
4 2007-03-04 NA        NA      NA       NA
5 2007-03-05 NA        NA      NA       NA
6 2007-03-06 NA        NA      NA       NA

In [81]:
write.csv(PPT3, file="C:/Users/Chen/Project/data/PPT3.csv", row.names =F)