In [34]:
import numpy as np
import pandas as pd
import seaborn as sns

In [35]:
df=pd.read_csv("C:/Users/Chen/Project/data/f99.csv")
df.head()

,Date,Year,ID.OB,Month_Yr,TrapM,Address,Street,Block,Longitude,Latitude,...,RA,RA45,TS,TSRA,VCTS,pre45_1_2,pre45_1,pre45_05,pre45_052,TrapClusterNum
0,2007-05-29,2007,16,2007-05,15,"7900 West Foster Avenue, Chicago, IL 60656, USA",W FOSTER AVE,79,-87.824812,41.974089,...,0,15.772257,0,0,0,1,1,1,1,2
1,2007-05-29,2007,12,2007-05,2,"4100 North Oak Park Avenue, Chicago, IL 60634,...",N OAK PARK AVE,41,-87.800991,41.954690,...,0,15.772257,0,0,0,1,1,1,1,2
2,2007-05-29,2007,14,2007-05,143,"6500 North Oak Park Avenue, Chicago, IL 60631,...",N OAK PARK AVE,65,-87.795585,41.999129,...,0,15.772257,0,0,0,1,1,1,1,2
3,2007-05-29,2007,13,2007-05,7,"6200 North Mandell Avenue, Chicago, IL 60646, USA",N MANDELL AVE,62,-87.769279,41.994991,...,0,15.772257,0,0,0,1,1,1,1,2
4,2007-05-29,2007,4,2007-05,153,"1500 North Long Avenue, Chicago, IL 60651, USA",N LONG AVE,15,-87.760886,41.907645,...,0,15.772257,0,0,0,1,1,1,1,6

In [36]:
df.dtypes

Date                       object
Year                        int64
ID.OB                       int64
Month_Yr                   object
TrapM                       int64
Address                    object
Street                     object
Block                       int64
Longitude                 float64
Latitude                  float64
Month                       int64
Season_code_1               int64
Season_code_2               int64
Season_code_3               int64
CULEX_ERRATICUS             int64
CULEX_PIPIENS               int64
CULEX_PIPIENS_RESTUANS      int64
CULEX_RESTUANS              int64
CULEX_SALINARIUS            int64
CULEX_TARSALIS              int64
CULEX_TERRITANS             int64
ParasiticIn.              float64
Influenza.                float64
WnvPresentB                 int64
Tmax2                       int64
Tmin2                       int64
Tavg2                       int64
WetBulb2                    int64
Heat2                       int64
PrecipTotal2              float64
                           ...
TS2                         int64
TSRA2                       int64
VCTS2                       int64
Tmax                        int64
Tmin                        int64
Tavg                        int64
Depart                      int64
DewPoint                    int64
Heat                        int64
Cool                        int64
Sunrise                     int64
Sunset                      int64
PrecipTotal               float64
ResultSpeed               float64
ResultDir                   int64
AvgSpeed                  float64
BR                          int64
DZ                          int64
FG                          int64
HZ                          int64
RA                          int64
RA45                      float64
TS                          int64
TSRA                        int64
VCTS                        int64
pre45_1_2                   int64
pre45_1                     int64
pre45_05                    int64
pre45_052                   int64
TrapClusterNum              int64
Length: 69, dtype: object

In [37]:
df.columns

Index(['Date', 'Year', 'ID.OB', 'Month_Yr', 'TrapM', 'Address', 'Street',
       'Block', 'Longitude', 'Latitude', 'Month', 'Season_code_1',
       'Season_code_2', 'Season_code_3', 'CULEX_ERRATICUS', 'CULEX_PIPIENS',
       'CULEX_PIPIENS_RESTUANS', 'CULEX_RESTUANS', 'CULEX_SALINARIUS',
       'CULEX_TARSALIS', 'CULEX_TERRITANS', 'ParasiticIn.', 'Influenza.',
       'WnvPresentB', 'Tmax2', 'Tmin2', 'Tavg2', 'WetBulb2', 'Heat2',
       'PrecipTotal2', 'StnPressure2', 'ResultDir2', 'AvgSpeed2', 'DZ2', 'FG2',
       'HZ2', 'RA2', 'RA45.2', 'BR2', 'TS2', 'TSRA2', 'VCTS2', 'Tmax', 'Tmin',
       'Tavg', 'Depart', 'DewPoint', 'Heat', 'Cool', 'Sunrise', 'Sunset',
       'PrecipTotal', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'BR', 'DZ', 'FG',
       'HZ', 'RA', 'RA45', 'TS', 'TSRA', 'VCTS', 'pre45_1_2', 'pre45_1',
       'pre45_05', 'pre45_052', 'TrapClusterNum'],
      dtype='object')

In [38]:
df['Block'] = df['Block'].astype('category')
df['TrapM'] = df['TrapM'].astype('category')

df['BR'] = df['BR'].astype('category')
df['DZ'] = df['DZ'].astype('category')
df['FG'] = df['FG'].astype('category')
df['HZ'] = df['HZ'].astype('category')
df['RA'] = df['RA'].astype('category')
df['TS'] = df['TS'].astype('category')
df['TSRA'] = df['TSRA'].astype('category')
df['VCTS'] = df['VCTS'].astype('category')
df['BR2'] = df['BR2'].astype('category')
df['DZ2'] = df['DZ2'].astype('category')
df['FG2'] = df['FG2'].astype('category')
df['HZ2'] = df['HZ2'].astype('category')
df['RA2'] = df['RA2'].astype('category')
df['TS2'] = df['TS2'].astype('category')
df['TSRA2'] = df['TSRA2'].astype('category')
df['VCTS2'] = df['VCTS2'].astype('category')

df['pre45_1_2'] = df['pre45_1_2'].astype('category')
df['pre45_1'] = df['pre45_1'].astype('category')
df['pre45_05'] = df['pre45_05'].astype('category')
df['pre45_052'] = df['pre45_052'].astype('category')
df['Season_code_1'] = df['Season_code_1'].astype('category')
df['Season_code_2'] = df['Season_code_2'].astype('category')
df['Season_code_3'] = df['Season_code_3'].astype('category')
df['WnvPresentB'] = df['WnvPresentB'].astype('category') #y='WnvPresentB'

df['Month_5']=df['Month_5'].astype('category')
df['Month_6']=df['Month_6'].astype('category')
df['Month_7']= df['Month_7'].astype('category')
df['Month_8']=df['Month_8'].astype('category')
df['Month_9']=df['Month_9'].astype('category')
df['Month_10']=df['Month_10'].astype('category')
df['TrapClusterNum_2']= df['TrapClusterNum_2'].astype('category')
df['TrapClusterNum_6'] = df['TrapClusterNum_6'].astype('category')  
df['TrapClusterNum_9'] =df['TrapClusterNum_9'].astype('category')
df['TrapClusterNum_4'] =df['TrapClusterNum_4'].astype('category')
df['TrapClusterNum_1']=df['TrapClusterNum_1'].astype('category')
df['TrapClusterNum_10']=df['TrapClusterNum_10'].astype('category') 
df['TrapClusterNum_8'] =df['TrapClusterNum_8'].astype('category')
df['TrapClusterNum_7']=df['TrapClusterNum_7'].astype('category')
df['TrapClusterNum_5'] =df['TrapClusterNum_5'].astype('category')
df['TrapClusterNum_3']=df['TrapClusterNum_3'].astype('category')

In [39]:
df.dtypes

Date                        object
Year                         int64
ID.OB                        int64
Month_Yr                    object
TrapM                     category
Address                     object
Street                      object
Block                     category
Longitude                  float64
Latitude                   float64
Month                        int64
Season_code_1             category
Season_code_2             category
Season_code_3             category
CULEX_ERRATICUS              int64
CULEX_PIPIENS                int64
CULEX_PIPIENS_RESTUANS       int64
CULEX_RESTUANS               int64
CULEX_SALINARIUS             int64
CULEX_TARSALIS               int64
CULEX_TERRITANS              int64
ParasiticIn.               float64
Influenza.                 float64
WnvPresentB               category
Tmax2                        int64
Tmin2                        int64
Tavg2                        int64
WetBulb2                     int64
Heat2                        int64
PrecipTotal2               float64
                            ...
TS2                       category
TSRA2                     category
VCTS2                     category
Tmax                         int64
Tmin                         int64
Tavg                         int64
Depart                       int64
DewPoint                     int64
Heat                         int64
Cool                         int64
Sunrise                      int64
Sunset                       int64
PrecipTotal                float64
ResultSpeed                float64
ResultDir                    int64
AvgSpeed                   float64
BR                        category
DZ                        category
FG                        category
HZ                        category
RA                        category
RA45                       float64
TS                        category
TSRA                      category
VCTS                      category
pre45_1_2                 category
pre45_1                   category
pre45_05                  category
pre45_052                 category
TrapClusterNum               int64
Length: 69, dtype: object

In [40]:
varSel = pd.DataFrame({'Variable': df.columns[8:69]})
varSel

                  Variable
0                Longitude
1                 Latitude
2                    Month
3            Season_code_1
4            Season_code_2
5            Season_code_3
6          CULEX_ERRATICUS
7            CULEX_PIPIENS
8   CULEX_PIPIENS_RESTUANS
9           CULEX_RESTUANS
10        CULEX_SALINARIUS
11          CULEX_TARSALIS
12         CULEX_TERRITANS
13            ParasiticIn.
14              Influenza.
15             WnvPresentB
16                   Tmax2
17                   Tmin2
18                   Tavg2
19                WetBulb2
20                   Heat2
21            PrecipTotal2
22            StnPressure2
23              ResultDir2
24               AvgSpeed2
25                     DZ2
26                     FG2
27                     HZ2
28                     RA2
29                  RA45.2
..                     ...
31                     TS2
32                   TSRA2
33                   VCTS2
34                    Tmax
35                    Tmin
36                    Tavg
37                  Depart
38                DewPoint
39                    Heat
40                    Cool
41                 Sunrise
42                  Sunset
43             PrecipTotal
44             ResultSpeed
45               ResultDir
46                AvgSpeed
47                      BR
48                      DZ
49                      FG
50                      HZ
51                      RA
52                    RA45
53                      TS
54                    TSRA
55                    VCTS
56               pre45_1_2
57                 pre45_1
58                pre45_05
59               pre45_052
60          TrapClusterNum

[61 rows x 1 columns]

Univariable Analysis

In [16]:
#import pyTable1 as tb1

In [ ]:
#tab1 = tb1.pyTABLE1(x=df.columns[4:68], y="", data=df).getTable1()

In [41]:
import pyMechkar as mechkar

In [42]:
tab1 = mechkar.pyMechkar().Table1(data=df, y='WnvPresentB')
tab1

Factorizing... please wait
[********************************************************************
['The variable Date is not well defined. This data type is not allowed in Table1... avoided', 'The variable Month_Yr is not well defined. This data type is not allowed in Table1... avoided', 'The variable Address is not well defined. This data type is not allowed in Table1... avoided', 'The variable Street is not well defined. This data type is not allowed in Table1... avoided']
*********************************************************************
*********************************************************************
['Unable to calcualte the Fisher exact test for variables Date and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Month_Yr and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables TrapM and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Address and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Street and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Block and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Month and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CULEX_TARSALIS and WnvPresentB... The p-value may be incorrect']
------ Finished in 28.891303539276123econds -----

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,4616,4231,385,NaN
1,Year,2007,"1,459.00 ( 31.60%)","1,304.00 ( 30.80%)",17.00 ( 4.40%),NaN
2,Year,2013,"1,006.00 ( 21.80%)",989.00 ( 23.40%),155.00 ( 40.30%),0.000
3,Year,2009,988.00 ( 21.40%),944.00 ( 22.30%),169.00 ( 43.90%),NaN
4,Year,2011,"1,163.00 ( 25.20%)",994.00 ( 23.50%),44.00 ( 11.40%),NaN
5,ID.OB,Mean (SD),"2,308.50 (1,332.50)","2,279.50 (1,301.90)","2,627.40 (1,597.10)",0.000
6,ID.OB,Median (IQR),"2,308.50 (1,154.80-3,462.20)","2,287.00 (1,209.50-3,387.50)","3,143.00 ( 852.00-4,202.00)",NaN
8,TrapM,54,73.00 ( 1.60%),68.00 ( 1.60%),NaN,NaN
9,TrapM,2,67.00 ( 1.50%),NaN,12.00 ( 3.10%),0.000
10,TrapM,151,67.00 ( 1.50%),61.00 ( 1.40%),NaN,NaN
11,TrapM,115,66.00 ( 1.40%),NaN,13.00 ( 3.40%),NaN
12,TrapM,31,66.00 ( 1.40%),62.00 ( 1.50%),NaN,NaN
13,TrapM,48,66.00 ( 1.40%),63.00 ( 1.50%),NaN,NaN
14,TrapM,Other,"4,145.00 ( 89.80%)","3,796.00 ( 89.70%)",301.00 ( 78.20%),NaN
15,Block,10,430.00 ( 9.30%),378.00 ( 8.90%),52.00 ( 13.50%),NaN
16,Block,11,334.00 ( 7.20%),312.00 ( 7.40%),22.00 ( 5.70%),0.000
17,Block,22,218.00 ( 4.70%),197.00 ( 4.70%),21.00 ( 5.50%),NaN
18,Block,17,179.00 ( 3.90%),168.00 ( 4.00%),NaN,NaN
19,Block,37,158.00 ( 3.40%),151.00 ( 3.60%),NaN,NaN
20,Block,13,153.00 ( 3.30%),144.00 ( 3.40%),NaN,NaN
21,Block,Other,"3,014.00 ( 65.30%)","2,754.00 ( 65.10%)",235.00 ( 61.00%),NaN
22,Longitude,Mean (SD),-87.70 ( 0.10),-87.70 ( 0.10),-87.70 ( 0.10),0.000
23,Longitude,Median (IQR),-87.70 ( -87.70- -87.60),-87.70 ( -87.70- -87.60),-87.70 ( -87.80- -87.70),NaN
25,Latitude,Mean (SD),41.80 ( 0.10),41.80 ( 0.10),41.90 ( 0.10),0.146
26,Latitude,Median (IQR),41.90 ( 41.80- 41.90),41.90 ( 41.80- 41.90),41.90 ( 41.70- 42.00),NaN
28,Month,8,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),NaN
29,Month,9,816.00 ( 17.70%),"1,060.00 ( 25.10%)",1.00 ( 0.30%),0.000
30,Month,7,"1,093.00 ( 23.70%)",815.00 ( 19.30%),33.00 ( 8.60%),NaN
31,Month,6,"1,363.00 ( 29.50%)","1,116.00 ( 26.40%)",102.00 ( 26.50%),NaN
32,Month,10,"1,143.00 ( 24.80%)","1,041.00 ( 24.60%)",247.00 ( 64.20%),NaN
...,...,...,...,...,...,...
148,AvgSpeed,Mean (SD),7.50 ( 2.60),7.60 ( 2.60),7.10 ( 2.30),0.000
149,AvgSpeed,Median (IQR),7.30 ( 5.80- 9.40),7.30 ( 5.80- 9.50),6.60 ( 5.70- 9.30),NaN
151,BR,0,"3,217.00 ( 69.70%)","2,952.00 ( 69.80%)",265.00 ( 68.80%),NaN
152,BR,1,"1,399.00 ( 30.30%)","1,279.00 ( 30.20%)",120.00 ( 31.20%),0.744
153,DZ,0,"4,532.00 ( 98.20%)","4,148.00 ( 98.00%)",384.00 ( 99.70%),NaN
154,DZ,1,84.00 ( 1.80%),83.00 ( 2.00%),1.00 ( 0.30%),0.121
155,FG,0,"4,545.00 ( 98.50%)","4,169.00 ( 98.50%)",376.00 ( 97.70%),NaN
156,FG,1,71.00 ( 1.50%),62.00 ( 1.50%),9.00 ( 2.30%),0.265
157,HZ,0,"3,924.00 ( 85.00%)","3,618.00 ( 85.50%)",306.00 ( 79.50%),NaN
158,HZ,1,692.00 ( 15.00%),613.00 ( 14.50%),79.00 ( 20.50%),0.002
159,RA,0,"3,192.00 ( 69.20%)","2,951.00 ( 69.70%)",241.00 ( 62.60%),NaN
160,RA,1,"1,424.00 ( 30.80%)","1,280.00 ( 30.30%)",144.00 ( 37.40%),0.004
161,RA45,Mean (SD),14.10 ( 3.20),14.20 ( 3.20),13.30 ( 3.20),0.000
162,RA45,Median (IQR),14.00 ( 12.00- 17.00),14.00 ( 12.00- 17.00),12.00 ( 11.00- 15.00),NaN
164,TS,0,"4,387.00 ( 95.00%)","4,037.00 ( 95.40%)",350.00 ( 90.90%),NaN
165,TS,1,229.00 ( 5.00%),194.00 ( 4.60%),35.00 ( 9.10%),0.000
166,TSRA,0,"4,039.00 ( 87.50%)","3,731.00 ( 88.20%)",308.00 ( 80.00%),NaN
167,TSRA,1,577.00 ( 12.50%),500.00 ( 11.80%),77.00 ( 20.00%),0.000
168,VCTS,0,"4,509.00 ( 97.70%)","4,125.00 ( 97.50%)",384.00 ( 99.70%),NaN
169,VCTS,1,107.00 ( 2.30%),106.00 ( 2.50%),1.00 ( 0.30%),0.121
170,pre45_1_2,1,"2,126.00 ( 46.10%)","1,849.00 ( 43.70%)",108.00 ( 28.10%),NaN
171,pre45_1_2,0,"2,490.00 ( 53.90%)","2,382.00 ( 56.30%)",277.00 ( 71.90%),0.000
172,pre45_1,1,"1,068.00 ( 23.10%)",942.00 ( 22.30%),126.00 ( 32.70%),NaN
173,pre45_1,0,"3,548.00 ( 76.90%)","3,289.00 ( 77.70%)",259.00 ( 67.30%),0.000
174,pre45_05,1,11.00 ( 0.20%),11.00 ( 0.30%),0.00 ( 0.00%),NaN
175,pre45_05,0,"4,605.00 ( 99.80%)","4,220.00 ( 99.70%)",385.00 ( 100.00%),0.615
176,pre45_052,1,63.00 ( 1.40%),60.00 ( 1.40%),3.00 ( 0.80%),NaN
177,pre45_052,0,"4,553.00 ( 98.60%)","4,171.00 ( 98.60%)",382.00 ( 99.20%),0.121
178,TrapClusterNum,Mean (SD),5.40 ( 3.00),5.50 ( 3.00),5.20 ( 2.90),0.163
179,TrapClusterNum,Median (IQR),6.00 ( 2.00- 8.00),6.00 ( 2.00- 8.00),5.00 ( 2.00- 8.00),NaN

In [43]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
2,Year,2013,"1,006.00 ( 21.80%)",989.00 ( 23.40%),155.00 ( 40.30%),0.000
5,ID.OB,Mean (SD),"2,308.50 (1,332.50)","2,279.50 (1,301.90)","2,627.40 (1,597.10)",0.000
9,TrapM,2,67.00 ( 1.50%),NaN,12.00 ( 3.10%),0.000
16,Block,11,334.00 ( 7.20%),312.00 ( 7.40%),22.00 ( 5.70%),0.000
22,Longitude,Mean (SD),-87.70 ( 0.10),-87.70 ( 0.10),-87.70 ( 0.10),0.000
29,Month,9,816.00 ( 17.70%),"1,060.00 ( 25.10%)",1.00 ( 0.30%),0.000
35,Season_code_1,1,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),0.014
42,CULEX_PIPIENS,Mean (SD),9.70 ( 88.20),3.50 ( 27.00),77.60 ( 283.20),0.000
45,CULEX_PIPIENS_RESTUANS,Mean (SD),14.40 ( 48.50),11.30 ( 42.20),48.40 ( 86.00),0.000
48,CULEX_RESTUANS,Mean (SD),5.10 ( 18.80),4.80 ( 18.10),8.00 ( 25.20),0.002
57,CULEX_TERRITANS,Mean (SD),0.10 ( 1.20),0.10 ( 1.00),0.30 ( 2.50),0.010
60,ParasiticIn.,Mean (SD),0.30 ( 0.00),0.30 ( 0.00),0.30 ( 0.00),0.000
63,Influenza.,Mean (SD),0.70 ( 0.10),0.70 ( 0.10),0.60 ( 0.00),0.000
66,Tmax2,Mean (SD),81.00 ( 8.70),80.80 ( 8.80),83.40 ( 6.50),0.000
69,Tmin2,Mean (SD),63.60 ( 7.70),63.30 ( 7.80),66.60 ( 6.10),0.000
72,Tavg2,Mean (SD),37.50 ( 7.80),37.30 ( 7.90),40.20 ( 5.90),0.000
75,WetBulb2,Mean (SD),33.20 ( 6.90),32.90 ( 6.90),35.90 ( 5.60),0.000
78,Heat2,Mean (SD),3.30 ( 7.00),3.50 ( 7.20),1.40 ( 3.30),0.000
90,AvgSpeed2,Mean (SD),7.60 ( 2.50),7.60 ( 2.50),7.20 ( 2.30),0.001
96,FG2,1,72.00 ( 1.60%),50.00 ( 1.20%),22.00 ( 5.70%),0.000
101,RA45.2,Mean (SD),13.00 ( 3.10),13.00 ( 3.10),12.10 ( 2.30),0.000
105,BR2,1,"1,328.00 ( 28.80%)","1,197.00 ( 28.30%)",131.00 ( 34.00%),0.020
107,TS2,1,468.00 ( 10.10%),409.00 ( 9.70%),59.00 ( 15.30%),0.001
109,TSRA2,1,721.00 ( 15.60%),646.00 ( 15.30%),75.00 ( 19.50%),0.035
112,Tmax,Mean (SD),80.80 ( 8.60),80.60 ( 8.70),83.40 ( 6.60),0.000
115,Tmin,Mean (SD),61.70 ( 7.90),61.40 ( 8.00),64.80 ( 6.30),0.000
118,Tavg,Mean (SD),36.50 ( 7.80),36.20 ( 7.90),39.40 ( 5.80),0.000
121,Depart,Mean (SD),19.50 ( 8.00),19.40 ( 8.00),20.90 ( 7.80),0.000
124,DewPoint,Mean (SD),59.10 ( 8.10),58.70 ( 8.10),62.40 ( 6.90),0.000
127,Heat,Mean (SD),3.70 ( 7.30),3.90 ( 7.60),1.60 ( 3.40),0.000
130,Cool,Mean (SD),8.70 ( 5.70),8.50 ( 5.70),10.70 ( 4.80),0.000
133,Sunrise,Mean (SD),470.50 ( 48.00),468.80 ( 48.60),490.00 ( 35.00),0.000
136,Sunset,Mean (SD),"1,866.30 ( 66.90)","1,867.70 ( 68.30)","1,850.10 ( 45.00)",0.000
139,PrecipTotal,Mean (SD),0.20 ( 0.50),0.20 ( 0.50),0.10 ( 0.30),0.009
142,ResultSpeed,Mean (SD),6.10 ( 2.90),6.10 ( 2.90),5.40 ( 2.70),0.000
148,AvgSpeed,Mean (SD),7.50 ( 2.60),7.60 ( 2.60),7.10 ( 2.30),0.000
158,HZ,1,692.00 ( 15.00%),613.00 ( 14.50%),79.00 ( 20.50%),0.002
160,RA,1,"1,424.00 ( 30.80%)","1,280.00 ( 30.30%)",144.00 ( 37.40%),0.004
161,RA45,Mean (SD),14.10 ( 3.20),14.20 ( 3.20),13.30 ( 3.20),0.000
165,TS,1,229.00 ( 5.00%),194.00 ( 4.60%),35.00 ( 9.10%),0.000
167,TSRA,1,577.00 ( 12.50%),500.00 ( 11.80%),77.00 ( 20.00%),0.000
171,pre45_1_2,0,"2,490.00 ( 53.90%)","2,382.00 ( 56.30%)",277.00 ( 71.90%),0.000
173,pre45_1,0,"3,548.00 ( 76.90%)","3,289.00 ( 77.70%)",259.00 ( 67.30%),0.000

In [44]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

43

array(['Year', 'ID.OB', 'TrapM', 'Block', 'Longitude', 'Month',
       'Season_code_1', 'CULEX_PIPIENS', 'CULEX_PIPIENS_RESTUANS',
       'CULEX_RESTUANS', 'CULEX_TERRITANS', 'ParasiticIn.', 'Influenza.',
       'Tmax2', 'Tmin2', 'Tavg2', 'WetBulb2', 'Heat2', 'AvgSpeed2', 'FG2',
       'RA45.2', 'BR2', 'TS2', 'TSRA2', 'Tmax', 'Tmin', 'Tavg', 'Depart',
       'DewPoint', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'PrecipTotal',
       'ResultSpeed', 'AvgSpeed', 'HZ', 'RA', 'RA45', 'TS', 'TSRA',
       'pre45_1_2', 'pre45_1'], dtype=object)

In [45]:
varSel['Univarable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univarable'] = 1
varSel

                  Variable  Univarable
0                Longitude           1
1                 Latitude           0
2                    Month           1
3            Season_code_1           1
4            Season_code_2           0
5            Season_code_3           0
6          CULEX_ERRATICUS           0
7            CULEX_PIPIENS           1
8   CULEX_PIPIENS_RESTUANS           1
9           CULEX_RESTUANS           1
10        CULEX_SALINARIUS           0
11          CULEX_TARSALIS           0
12         CULEX_TERRITANS           1
13            ParasiticIn.           1
14              Influenza.           1
15             WnvPresentB           0
16                   Tmax2           1
17                   Tmin2           1
18                   Tavg2           1
19                WetBulb2           1
20                   Heat2           1
21            PrecipTotal2           0
22            StnPressure2           0
23              ResultDir2           0
24               AvgSpeed2           1
25                     DZ2           0
26                     FG2           1
27                     HZ2           0
28                     RA2           0
29                  RA45.2           1
..                     ...         ...
31                     TS2           1
32                   TSRA2           1
33                   VCTS2           0
34                    Tmax           1
35                    Tmin           1
36                    Tavg           1
37                  Depart           1
38                DewPoint           1
39                    Heat           1
40                    Cool           1
41                 Sunrise           1
42                  Sunset           1
43             PrecipTotal           1
44             ResultSpeed           1
45               ResultDir           0
46                AvgSpeed           1
47                      BR           0
48                      DZ           0
49                      FG           0
50                      HZ           1
51                      RA           1
52                    RA45           1
53                      TS           1
54                    TSRA           1
55                    VCTS           0
56               pre45_1_2           1
57                 pre45_1           1
58                pre45_05           0
59               pre45_052           0
60          TrapClusterNum           0

[61 rows x 2 columns]

Multivariable Analysis

In [46]:
## remove unnecessary vars
X = df.loc[:,df.columns[8:69]]
X.head()

,Longitude,Latitude,Month,Season_code_1,Season_code_2,Season_code_3,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,...,RA,RA45,TS,TSRA,VCTS,pre45_1_2,pre45_1,pre45_05,pre45_052,TrapClusterNum
0,-87.824812,41.974089,5,1,0,0,0,0,1,4,...,0,15.772257,0,0,0,1,1,1,1,2
1,-87.800991,41.954690,5,1,0,0,0,0,1,1,...,0,15.772257,0,0,0,1,1,1,1,2
2,-87.795585,41.999129,5,1,0,0,0,0,1,0,...,0,15.772257,0,0,0,1,1,1,1,2
3,-87.769279,41.994991,5,1,0,0,0,0,0,1,...,0,15.772257,0,0,0,1,1,1,1,2
4,-87.760886,41.907645,5,1,0,0,0,0,0,1,...,0,15.772257,0,0,0,1,1,1,1,6

In [47]:
df.columns.get_loc("WnvPresentB")

23

In [48]:
y = df.loc[:,df.columns[23]]
print([X.shape,y.shape])

[(4616, 61), (4616,)]

Variable Selection using LASSO (L1 penalization)

In [49]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

lassomod = Lasso(alpha=0.01).fit(X, y)

In [50]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [51]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                  Variable  Univarable  Lasso
0                Longitude           1      0
1                 Latitude           0      0
2                    Month           1      0
3            Season_code_1           1      0
4            Season_code_2           0      0
5            Season_code_3           0      0
6          CULEX_ERRATICUS           0      0
7            CULEX_PIPIENS           1      1
8   CULEX_PIPIENS_RESTUANS           1      1
9           CULEX_RESTUANS           1      0
10        CULEX_SALINARIUS           0      0
11          CULEX_TARSALIS           0      0
12         CULEX_TERRITANS           1      0
13            ParasiticIn.           1      0
14              Influenza.           1      0
15             WnvPresentB           0      1
16                   Tmax2           1      0
17                   Tmin2           1      1
18                   Tavg2           1      0
19                WetBulb2           1      0
20                   Heat2           1      0
21            PrecipTotal2           0      0
22            StnPressure2           0      0
23              ResultDir2           0      0
24               AvgSpeed2           1      0
25                     DZ2           0      0
26                     FG2           1      0
27                     HZ2           0      0
28                     RA2           0      0
29                  RA45.2           1      0
..                     ...         ...    ...
31                     TS2           1      0
32                   TSRA2           1      0
33                   VCTS2           0      0
34                    Tmax           1      0
35                    Tmin           1      0
36                    Tavg           1      0
37                  Depart           1      1
38                DewPoint           1      1
39                    Heat           1      0
40                    Cool           1      0
41                 Sunrise           1      1
42                  Sunset           1      1
43             PrecipTotal           1      0
44             ResultSpeed           1      0
45               ResultDir           0      0
46                AvgSpeed           1      0
47                      BR           0      0
48                      DZ           0      0
49                      FG           0      0
50                      HZ           1      0
51                      RA           1      0
52                    RA45           1      0
53                      TS           1      0
54                    TSRA           1      0
55                    VCTS           0      0
56               pre45_1_2           1      0
57                 pre45_1           1      0
58                pre45_05           0      0
59               pre45_052           0      0
60          TrapClusterNum           0      0

[61 rows x 3 columns]

Variable Selection using Random Forest

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestClassifier().fit(X, y)
#rfmod.feature_importances_

In [53]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([ True,  True, False, False, False, False, False,  True,  True,
        True, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True])

In [54]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                  Variable  Univarable  Lasso  RandomForest
0                Longitude           1      0             1
1                 Latitude           0      0             1
2                    Month           1      0             0
3            Season_code_1           1      0             0
4            Season_code_2           0      0             0
5            Season_code_3           0      0             0
6          CULEX_ERRATICUS           0      0             0
7            CULEX_PIPIENS           1      1             1
8   CULEX_PIPIENS_RESTUANS           1      1             1
9           CULEX_RESTUANS           1      0             1
10        CULEX_SALINARIUS           0      0             0
11          CULEX_TARSALIS           0      0             0
12         CULEX_TERRITANS           1      0             0
13            ParasiticIn.           1      0             0
14              Influenza.           1      0             0
15             WnvPresentB           0      1             1
16                   Tmax2           1      0             0
17                   Tmin2           1      1             0
18                   Tavg2           1      0             0
19                WetBulb2           1      0             0
20                   Heat2           1      0             0
21            PrecipTotal2           0      0             0
22            StnPressure2           0      0             0
23              ResultDir2           0      0             0
24               AvgSpeed2           1      0             0
25                     DZ2           0      0             0
26                     FG2           1      0             0
27                     HZ2           0      0             0
28                     RA2           0      0             0
29                  RA45.2           1      0             0
..                     ...         ...    ...           ...
31                     TS2           1      0             0
32                   TSRA2           1      0             0
33                   VCTS2           0      0             0
34                    Tmax           1      0             0
35                    Tmin           1      0             0
36                    Tavg           1      0             0
37                  Depart           1      1             0
38                DewPoint           1      1             0
39                    Heat           1      0             0
40                    Cool           1      0             0
41                 Sunrise           1      1             0
42                  Sunset           1      1             1
43             PrecipTotal           1      0             0
44             ResultSpeed           1      0             0
45               ResultDir           0      0             0
46                AvgSpeed           1      0             0
47                      BR           0      0             0
48                      DZ           0      0             0
49                      FG           0      0             0
50                      HZ           1      0             0
51                      RA           1      0             0
52                    RA45           1      0             0
53                      TS           1      0             0
54                    TSRA           1      0             0
55                    VCTS           0      0             0
56               pre45_1_2           1      0             0
57                 pre45_1           1      0             0
58                pre45_05           0      0             0
59               pre45_052           0      0             0
60          TrapClusterNum           0      0             1

[61 rows x 4 columns]

Variable Selection using Gradient Boosting classification

In [55]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingClassifier().fit(X, y)

In [56]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [57]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

                  Variable  Univarable  Lasso  RandomForest  GradientBoost
0                Longitude           1      0             1              0
1                 Latitude           0      0             1              0
2                    Month           1      0             0              0
3            Season_code_1           1      0             0              0
4            Season_code_2           0      0             0              0
5            Season_code_3           0      0             0              0
6          CULEX_ERRATICUS           0      0             0              0
7            CULEX_PIPIENS           1      1             1              0
8   CULEX_PIPIENS_RESTUANS           1      1             1              0
9           CULEX_RESTUANS           1      0             1              0
10        CULEX_SALINARIUS           0      0             0              0
11          CULEX_TARSALIS           0      0             0              0
12         CULEX_TERRITANS           1      0             0              0
13            ParasiticIn.           1      0             0              0
14              Influenza.           1      0             0              0
15             WnvPresentB           0      1             1              1
16                   Tmax2           1      0             0              0
17                   Tmin2           1      1             0              0
18                   Tavg2           1      0             0              0
19                WetBulb2           1      0             0              0
20                   Heat2           1      0             0              0
21            PrecipTotal2           0      0             0              0
22            StnPressure2           0      0             0              0
23              ResultDir2           0      0             0              0
24               AvgSpeed2           1      0             0              0
25                     DZ2           0      0             0              0
26                     FG2           1      0             0              0
27                     HZ2           0      0             0              0
28                     RA2           0      0             0              0
29                  RA45.2           1      0             0              0
..                     ...         ...    ...           ...            ...
31                     TS2           1      0             0              0
32                   TSRA2           1      0             0              0
33                   VCTS2           0      0             0              0
34                    Tmax           1      0             0              0
35                    Tmin           1      0             0              0
36                    Tavg           1      0             0              0
37                  Depart           1      1             0              0
38                DewPoint           1      1             0              0
39                    Heat           1      0             0              0
40                    Cool           1      0             0              0
41                 Sunrise           1      1             0              0
42                  Sunset           1      1             1              0
43             PrecipTotal           1      0             0              0
44             ResultSpeed           1      0             0              0
45               ResultDir           0      0             0              0
46                AvgSpeed           1      0             0              0
47                      BR           0      0             0              0
48                      DZ           0      0             0              0
49                      FG           0      0             0              0
50                      HZ           1      0             0              0
51                      RA           1      0             0              0
52                    RA45           1      0             0              0
53                      TS           1      0             0              0
54                    TSRA           1      0             0              0
55                    VCTS           0      0             0              0
56               pre45_1_2           1      0             0              0
57                 pre45_1           1      0             0              0
58                pre45_05           0      0             0              0
59               pre45_052           0      0             0              0
60          TrapClusterNum           0      0             1              0

[61 rows x 5 columns]

Variable Selection using SVM classification

In [58]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False).fit(X, y)

In [59]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([ True,  True, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [60]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM
0,Longitude,1,0,1,0,1
1,Latitude,0,0,1,0,1
2,Month,1,0,0,0,0
3,Season_code_1,1,0,0,0,0
4,Season_code_2,0,0,0,0,0
5,Season_code_3,0,0,0,0,0
6,CULEX_ERRATICUS,0,0,0,0,0
7,CULEX_PIPIENS,1,1,1,0,1
8,CULEX_PIPIENS_RESTUANS,1,1,1,0,1
9,CULEX_RESTUANS,1,0,1,0,0
10,CULEX_SALINARIUS,0,0,0,0,0
11,CULEX_TARSALIS,0,0,0,0,0
12,CULEX_TERRITANS,1,0,0,0,0
13,ParasiticIn.,1,0,0,0,0
14,Influenza.,1,0,0,0,0
15,WnvPresentB,0,1,1,1,1
16,Tmax2,1,0,0,0,0
17,Tmin2,1,1,0,0,0
18,Tavg2,1,0,0,0,0
19,WetBulb2,1,0,0,0,0
20,Heat2,1,0,0,0,0
21,PrecipTotal2,0,0,0,0,0
22,StnPressure2,0,0,0,0,1
23,ResultDir2,0,0,0,0,0
24,AvgSpeed2,1,0,0,0,0
25,DZ2,0,0,0,0,0
26,FG2,1,0,0,0,0
27,HZ2,0,0,0,0,0
28,RA2,0,0,0,0,0
29,RA45.2,1,0,0,0,0
...,...,...,...,...,...,...
31,TS2,1,0,0,0,0
32,TSRA2,1,0,0,0,0
33,VCTS2,0,0,0,0,0
34,Tmax,1,0,0,0,0
35,Tmin,1,0,0,0,0
36,Tavg,1,0,0,0,1
37,Depart,1,1,0,0,0
38,DewPoint,1,1,0,0,0
39,Heat,1,0,0,0,1
40,Cool,1,0,0,0,0
41,Sunrise,1,1,0,0,1
42,Sunset,1,1,1,0,1
43,PrecipTotal,1,0,0,0,0
44,ResultSpeed,1,0,0,0,0
45,ResultDir,0,0,0,0,0
46,AvgSpeed,1,0,0,0,0
47,BR,0,0,0,0,0
48,DZ,0,0,0,0,0
49,FG,0,0,0,0,0
50,HZ,1,0,0,0,0
51,RA,1,0,0,0,0
52,RA45,1,0,0,0,0
53,TS,1,0,0,0,0
54,TSRA,1,0,0,0,0
55,VCTS,0,0,0,0,0
56,pre45_1_2,1,0,0,0,0
57,pre45_1,1,0,0,0,0
58,pre45_05,0,0,0,0,0
59,pre45_052,0,0,0,0,0
60,TrapClusterNum,0,0,1,0,0

Summarization and Selection of Variables¶

In [61]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,Longitude,1,0,1,0,1,3
1,Latitude,0,0,1,0,1,2
2,Month,1,0,0,0,0,1
3,Season_code_1,1,0,0,0,0,1
4,Season_code_2,0,0,0,0,0,0
5,Season_code_3,0,0,0,0,0,0
6,CULEX_ERRATICUS,0,0,0,0,0,0
7,CULEX_PIPIENS,1,1,1,0,1,4
8,CULEX_PIPIENS_RESTUANS,1,1,1,0,1,4
9,CULEX_RESTUANS,1,0,1,0,0,2
10,CULEX_SALINARIUS,0,0,0,0,0,0
11,CULEX_TARSALIS,0,0,0,0,0,0
12,CULEX_TERRITANS,1,0,0,0,0,1
13,ParasiticIn.,1,0,0,0,0,1
14,Influenza.,1,0,0,0,0,1
15,WnvPresentB,0,1,1,1,1,4
16,Tmax2,1,0,0,0,0,1
17,Tmin2,1,1,0,0,0,2
18,Tavg2,1,0,0,0,0,1
19,WetBulb2,1,0,0,0,0,1
20,Heat2,1,0,0,0,0,1
21,PrecipTotal2,0,0,0,0,0,0
22,StnPressure2,0,0,0,0,1,1
23,ResultDir2,0,0,0,0,0,0
24,AvgSpeed2,1,0,0,0,0,1
25,DZ2,0,0,0,0,0,0
26,FG2,1,0,0,0,0,1
27,HZ2,0,0,0,0,0,0
28,RA2,0,0,0,0,0,0
29,RA45.2,1,0,0,0,0,1
...,...,...,...,...,...,...,...
31,TS2,1,0,0,0,0,1
32,TSRA2,1,0,0,0,0,1
33,VCTS2,0,0,0,0,0,0
34,Tmax,1,0,0,0,0,1
35,Tmin,1,0,0,0,0,1
36,Tavg,1,0,0,0,1,2
37,Depart,1,1,0,0,0,2
38,DewPoint,1,1,0,0,0,2
39,Heat,1,0,0,0,1,2
40,Cool,1,0,0,0,0,1
41,Sunrise,1,1,0,0,1,3
42,Sunset,1,1,1,0,1,4
43,PrecipTotal,1,0,0,0,0,1
44,ResultSpeed,1,0,0,0,0,1
45,ResultDir,0,0,0,0,0,0
46,AvgSpeed,1,0,0,0,0,1
47,BR,0,0,0,0,0,0
48,DZ,0,0,0,0,0,0
49,FG,0,0,0,0,0,0
50,HZ,1,0,0,0,0,1
51,RA,1,0,0,0,0,1
52,RA45,1,0,0,0,0,1
53,TS,1,0,0,0,0,1
54,TSRA,1,0,0,0,0,1
55,VCTS,0,0,0,0,0,0
56,pre45_1_2,1,0,0,0,0,1
57,pre45_1,1,0,0,0,0,1
58,pre45_05,0,0,0,0,0,0
59,pre45_052,0,0,0,0,0,0
60,TrapClusterNum,0,0,1,0,0,1

In [62]:
varSel.groupby('Sum')['Variable'].count()

Sum
0    18
1    30
2     7
3     2
4     4
Name: Variable, dtype: int64

In [63]:
 varSel.to_csv('C:\\Users\\Chen\\Project\\data\\varSel.csv', index=False)