In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
ffWNV5=pd.read_csv("C:/Users/Chen/Project/data/ffWNV5.csv")

In [3]:
ffWNV5.head()

,ID,Date,Month_Yr,Address,Block,Latitude,Longitude,Street,CULEX_ERRATICUS,CULEX_PIPIENS,...,Snow_Fall,WnvPresentB,PrecipTotal2i,RA45i,PT45_gt50i,RA45_2i,PT45_gt50_2i,Season_code_1,Season_code_2,Season_code_3
0,1,2007-05-29,2007-05,"1100 Roosevelt Road, Chicago, IL 60608, USA",11,41.867108,-87.654224,W ROOSEVELT,0,0,...,0,0,2,13,0,11,0,1,0,0
1,2,2007-05-29,2007-05,"1100 South Peoria Street, Chicago, IL 60608, USA",11,41.862292,-87.648860,S PEORIA ST,0,0,...,0,0,2,19,1,13,0,1,0,0
2,3,2007-05-29,2007-05,"1100 West Chicago Avenue, Chicago, IL 60642, USA",11,41.896282,-87.655232,W CHICAGO,0,0,...,0,0,2,11,0,10,0,1,0,0
3,4,2007-05-29,2007-05,"1500 North Long Avenue, Chicago, IL 60651, USA",15,41.907645,-87.760886,N LONG AVE,0,0,...,0,0,2,12,0,12,0,1,0,0
4,5,2007-05-29,2007-05,"1500 West Webster Avenue, Chicago, IL 60614, USA",15,41.921600,-87.666455,W WEBSTER AVE,0,0,...,0,0,2,17,0,17,0,1,0,0

In [4]:
#from importlib import reload
import pyMechkar as mechkar
#reload(mechkar)

In [27]:
ffWNV5.dtypes

ID                          int64
Date                       object
Month_Yr                   object
Address                    object
Block                       int64
Latitude                  float64
Longitude                 float64
Street                     object
CULEX_ERRATICUS             int64
CULEX_PIPIENS               int64
CULEX_PIPIENS_RESTUANS      int64
CULEX_RESTUANS              int64
CULEX_SALINARIUS            int64
CULEX_TARSALIS              int64
CULEX_TERRITANS             int64
Month                       int64
Tmax                        int64
Tmin                        int64
Tavg                        int64
Depart                      int64
DewPoint                    int64
Heat                        int64
Cool                        int64
Sunrise                     int64
Sunset                      int64
PrecipTotal                 int64
ResultSpeed               float64
ResultDir                   int64
AvgSpeed                    int64
BR                          int64
                           ...
Tmin2                       int64
Tavg2                       int64
WetBulb2                    int64
Heat2                       int64
StnPressure2                int64
ResultDir2                  int64
AvgSpeed2                   int64
BR2                         int64
DZ2                         int64
FG2                         int64
HZ2                         int64
RA2                         int64
TS2                         int64
TSRA2                       int64
VCTS2                       int64
ParasiticIn.              float64
Influenza.                float64
Spray                       int64
Year                        int64
TrapM                       int64
Snow_Fall                   int64
WnvPresentB                 int64
PrecipTotal2i               int64
RA45i                       int64
PT45_gt50i                  int64
RA45_2i                     int64
PT45_gt50_2i                int64
Season_code_1               int64
Season_code_2               int64
Season_code_3               int64
Length: 68, dtype: object

In [5]:
ffWNV5['WnvPresentB'] = ffWNV5['WnvPresentB'].astype('category')

In [6]:
df2=ffWNV5.iloc[:,4:68]

In [7]:
df2.head()

,Block,Latitude,Longitude,Street,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,CULEX_SALINARIUS,CULEX_TARSALIS,...,Snow_Fall,WnvPresentB,PrecipTotal2i,RA45i,PT45_gt50i,RA45_2i,PT45_gt50_2i,Season_code_1,Season_code_2,Season_code_3
0,11,41.867108,-87.654224,W ROOSEVELT,0,0,1,2,0,0,...,0,0,2,13,0,11,0,1,0,0
1,11,41.862292,-87.648860,S PEORIA ST,0,0,0,1,0,0,...,0,0,2,19,1,13,0,1,0,0
2,11,41.896282,-87.655232,W CHICAGO,0,0,0,1,0,0,...,0,0,2,11,0,10,0,1,0,0
3,15,41.907645,-87.760886,N LONG AVE,0,0,0,1,0,0,...,0,0,2,12,0,12,0,1,0,0
4,15,41.921600,-87.666455,W WEBSTER AVE,0,0,0,2,0,0,...,0,0,2,17,0,17,0,1,0,0

In [10]:
tab1 = mechkar.pyMechkar().Table1(data=df2, y='WnvPresentB')
tab1
#tab1.to_excel("tb1.xlsx")  # doctest: +SKIP

Factorizing... please wait
***************************************************************
['The variable Street is not well defined. This data type is not allowed in Table1... avoided']
[****************************************************************
[****************************************************************
['Unable to calcualte the Fisher exact test for variables Street and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables CULEX_TARSALIS and WnvPresentB... The p-value may be incorrect', 'Unable to calcualte the Fisher exact test for variables Month and WnvPresentB... The p-value may be incorrect']
------ Finished in 26.49572253227234econds -----

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,4616,4231,385,NaN
1,Block,Mean (SD),39.40 ( 24.00),39.40 ( 24.00),40.10 ( 24.10),0.584
2,Block,Median (IQR),37.00 ( 17.00- 58.00),37.00 ( 17.00- 58.00),40.00 ( 14.00- 60.00),NaN
4,Latitude,Mean (SD),41.80 ( 0.10),41.80 ( 0.10),41.90 ( 0.10),0.146
5,Latitude,Median (IQR),41.90 ( 41.80- 41.90),41.90 ( 41.80- 41.90),41.90 ( 41.70- 42.00),NaN
7,Longitude,Mean (SD),-87.70 ( 0.10),-87.70 ( 0.10),-87.70 ( 0.10),0.000
8,Longitude,Median (IQR),-87.70 ( -87.70- -87.60),-87.70 ( -87.70- -87.60),-87.70 ( -87.80- -87.70),NaN
10,CULEX_ERRATICUS,0,"4,615.00 ( 100.00%)","4,231.00 ( 100.00%)",384.00 ( 99.70%),NaN
11,CULEX_ERRATICUS,7,1.00 ( 0.00%),0.00 ( 0.00%),1.00 ( 0.30%),0.083
12,CULEX_PIPIENS,Mean (SD),9.70 ( 88.20),3.50 ( 27.00),77.60 ( 283.20),0.000
13,CULEX_PIPIENS,Median (IQR),0.00 ( 0.00- 3.00),0.00 ( 0.00- 2.00),11.00 ( 1.00- 33.00),NaN
15,CULEX_PIPIENS_RESTUANS,Mean (SD),14.40 ( 48.50),11.30 ( 42.20),48.40 ( 86.00),0.000
16,CULEX_PIPIENS_RESTUANS,Median (IQR),3.00 ( 1.00- 11.00),3.00 ( 1.00- 9.00),22.00 ( 8.00- 51.00),NaN
18,CULEX_RESTUANS,Mean (SD),5.10 ( 18.80),4.80 ( 18.10),8.00 ( 25.20),0.002
19,CULEX_RESTUANS,Median (IQR),1.00 ( 0.00- 3.00),1.00 ( 0.00- 3.00),0.00 ( 0.00- 5.00),NaN
21,CULEX_SALINARIUS,Mean (SD),0.00 ( 0.40),0.00 ( 0.50),0.00 ( 0.30),0.478
22,CULEX_SALINARIUS,Median (IQR),0.00 ( 0.00- 0.00),0.00 ( 0.00- 0.00),0.00 ( 0.00- 0.00),NaN
24,CULEX_TARSALIS,0,"4,610.00 ( 99.90%)","4,225.00 ( 99.90%)",385.00 ( 100.00%),NaN
25,CULEX_TARSALIS,1,5.00 ( 0.10%),5.00 ( 0.10%),0.00 ( 0.00%),0.761
26,CULEX_TARSALIS,2,1.00 ( 0.00%),1.00 ( 0.00%),0.00 ( 0.00%),NaN
27,CULEX_TERRITANS,Mean (SD),0.10 ( 1.20),0.10 ( 1.00),0.30 ( 2.50),0.010
28,CULEX_TERRITANS,Median (IQR),0.00 ( 0.00- 0.00),0.00 ( 0.00- 0.00),0.00 ( 0.00- 0.00),NaN
30,Month,8,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),NaN
31,Month,9,816.00 ( 17.70%),"1,060.00 ( 25.10%)",1.00 ( 0.30%),0.000
32,Month,7,"1,093.00 ( 23.70%)",815.00 ( 19.30%),33.00 ( 8.60%),NaN
33,Month,6,"1,363.00 ( 29.50%)","1,116.00 ( 26.40%)",102.00 ( 26.50%),NaN
34,Month,10,"1,143.00 ( 24.80%)","1,041.00 ( 24.60%)",247.00 ( 64.20%),NaN
35,Month,5,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),NaN
36,Tmax,Mean (SD),80.80 ( 8.60),80.60 ( 8.70),83.40 ( 6.60),0.000
37,Tmax,Median (IQR),83.00 ( 77.00- 87.00),83.00 ( 77.00- 87.00),83.00 ( 80.00- 89.00),NaN
...,...,...,...,...,...,...
131,ParasiticIn.,Mean (SD),0.30 ( 0.00),0.30 ( 0.00),0.30 ( 0.00),0.000
132,ParasiticIn.,Median (IQR),0.30 ( 0.20- 0.30),0.30 ( 0.20- 0.30),0.30 ( 0.30- 0.30),NaN
134,Influenza.,Mean (SD),0.70 ( 0.10),0.70 ( 0.10),0.60 ( 0.00),0.000
135,Influenza.,Median (IQR),0.60 ( 0.60- 0.70),0.60 ( 0.60- 0.70),0.60 ( 0.60- 0.70),NaN
137,Spray,0,"4,257.00 ( 92.20%)","3,958.00 ( 93.50%)",299.00 ( 77.70%),NaN
138,Spray,1,359.00 ( 7.80%),273.00 ( 6.50%),86.00 ( 22.30%),0.000
139,Year,2007,"1,459.00 ( 31.60%)","1,304.00 ( 30.80%)",17.00 ( 4.40%),NaN
140,Year,2013,"1,006.00 ( 21.80%)",989.00 ( 23.40%),155.00 ( 40.30%),0.000
141,Year,2009,988.00 ( 21.40%),944.00 ( 22.30%),169.00 ( 43.90%),NaN
142,Year,2011,"1,163.00 ( 25.20%)",994.00 ( 23.50%),44.00 ( 11.40%),NaN
143,TrapM,Mean (SD),118.70 ( 137.00),115.20 ( 127.20),156.50 ( 214.00),0.000
144,TrapM,Median (IQR),88.00 ( 46.00- 153.00),85.00 ( 46.00- 152.00),95.00 ( 31.00- 212.00),NaN
146,Snow_Fall,0,"4,512.00 ( 97.70%)","4,127.00 ( 97.50%)",385.00 ( 100.00%),NaN
147,Snow_Fall,1,104.00 ( 2.30%),104.00 ( 2.50%),0.00 ( 0.00%),0.000
148,PrecipTotal2i,Mean (SD),13.40 ( 25.10),13.20 ( 24.90),15.60 ( 26.70),0.076
149,PrecipTotal2i,Median (IQR),2.00 ( 2.00- 8.00),2.00 ( 2.00- 8.00),2.00 ( 2.00- 11.00),NaN
151,RA45i,Mean (SD),14.20 ( 3.30),14.30 ( 3.30),13.30 ( 3.20),0.000
152,RA45i,Median (IQR),14.00 ( 12.00- 17.00),14.00 ( 12.00- 17.00),12.00 ( 11.00- 15.00),NaN
154,PT45_gt50i,1,23.00 ( 0.50%),23.00 ( 0.50%),0.00 ( 0.00%),NaN
155,PT45_gt50i,0,"4,593.00 ( 99.50%)","4,208.00 ( 99.50%)",385.00 ( 100.00%),0.254
156,RA45_2i,Mean (SD),13.00 ( 3.10),13.10 ( 3.10),12.10 ( 2.30),0.000
157,RA45_2i,Median (IQR),13.00 ( 11.00- 15.00),13.00 ( 11.00- 15.00),12.00 ( 11.00- 14.00),NaN
159,PT45_gt50_2i,0,"3,774.00 ( 81.80%)","3,459.00 ( 81.80%)",315.00 ( 81.80%),NaN
160,PT45_gt50_2i,1,842.00 ( 18.20%),772.00 ( 18.20%),70.00 ( 18.20%),0.970
161,Season_code_1,0,"4,557.00 ( 98.70%)","4,172.00 ( 98.60%)",385.00 ( 100.00%),NaN
162,Season_code_1,1,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),0.014
163,Season_code_2,1,"1,344.00 ( 29.10%)","1,240.00 ( 29.30%)",104.00 ( 27.00%),NaN
164,Season_code_2,0,"3,272.00 ( 70.90%)","2,991.00 ( 70.70%)",281.00 ( 73.00%),0.373
165,Season_code_3,0,"3,331.00 ( 72.20%)","3,050.00 ( 72.10%)",281.00 ( 73.00%),NaN
166,Season_code_3,1,"1,285.00 ( 27.80%)","1,181.00 ( 27.90%)",104.00 ( 27.00%),0.751

In [12]:
tab1[tab1['p_value']<0.05].to_excel("tb2.xlsx")

In [13]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
7,Longitude,Mean (SD),-87.70 ( 0.10),-87.70 ( 0.10),-87.70 ( 0.10),0.000
12,CULEX_PIPIENS,Mean (SD),9.70 ( 88.20),3.50 ( 27.00),77.60 ( 283.20),0.000
15,CULEX_PIPIENS_RESTUANS,Mean (SD),14.40 ( 48.50),11.30 ( 42.20),48.40 ( 86.00),0.000
18,CULEX_RESTUANS,Mean (SD),5.10 ( 18.80),4.80 ( 18.10),8.00 ( 25.20),0.002
27,CULEX_TERRITANS,Mean (SD),0.10 ( 1.20),0.10 ( 1.00),0.30 ( 2.50),0.010
31,Month,9,816.00 ( 17.70%),"1,060.00 ( 25.10%)",1.00 ( 0.30%),0.000
36,Tmax,Mean (SD),80.80 ( 8.60),80.60 ( 8.70),83.40 ( 6.60),0.000
39,Tmin,Mean (SD),61.70 ( 7.90),61.40 ( 8.00),64.80 ( 6.30),0.000
42,Tavg,Mean (SD),36.50 ( 7.80),36.20 ( 7.90),39.40 ( 5.80),0.000
45,Depart,Mean (SD),19.50 ( 8.00),19.40 ( 8.00),20.90 ( 7.80),0.000
48,DewPoint,Mean (SD),59.10 ( 8.10),58.70 ( 8.10),62.40 ( 6.90),0.000
51,Heat,Mean (SD),3.70 ( 7.30),3.90 ( 7.60),1.60 ( 3.40),0.000
54,Cool,Mean (SD),8.70 ( 5.70),8.50 ( 5.70),10.70 ( 4.80),0.000
57,Sunrise,Mean (SD),470.50 ( 48.00),468.80 ( 48.60),490.00 ( 35.00),0.000
60,Sunset,Mean (SD),"1,866.30 ( 66.90)","1,867.70 ( 68.30)","1,850.10 ( 45.00)",0.000
63,PrecipTotal,Mean (SD),19.30 ( 34.40),19.70 ( 35.10),15.50 ( 26.40),0.023
66,ResultSpeed,Mean (SD),6.10 ( 2.90),6.10 ( 2.90),5.40 ( 2.70),0.000
72,AvgSpeed,Mean (SD),125.20 ( 49.60),124.30 ( 50.50),134.30 ( 38.00),0.000
82,HZ,1,692.00 ( 15.00%),613.00 ( 14.50%),79.00 ( 20.50%),0.002
84,RA,1,"1,424.00 ( 30.80%)","1,280.00 ( 30.30%)",144.00 ( 37.40%),0.004
86,TS,1,229.00 ( 5.00%),194.00 ( 4.60%),35.00 ( 9.10%),0.000
88,TSRA,1,577.00 ( 12.50%),500.00 ( 11.80%),77.00 ( 20.00%),0.000
91,Tmax2,Mean (SD),81.00 ( 8.70),80.80 ( 8.80),83.40 ( 6.50),0.000
94,Tmin2,Mean (SD),63.60 ( 7.70),63.30 ( 7.80),66.60 ( 6.10),0.000
97,Tavg2,Mean (SD),37.50 ( 7.80),37.30 ( 7.90),40.20 ( 5.90),0.000
100,WetBulb2,Mean (SD),33.20 ( 6.90),32.90 ( 6.90),35.90 ( 5.60),0.000
103,Heat2,Mean (SD),3.30 ( 7.00),3.50 ( 7.20),1.40 ( 3.30),0.000
112,AvgSpeed2,Mean (SD),121.50 ( 52.50),121.00 ( 53.10),127.60 ( 45.00),0.018
116,BR2,1,"1,328.00 ( 28.80%)","1,197.00 ( 28.30%)",131.00 ( 34.00%),0.020
120,FG2,1,72.00 ( 1.60%),50.00 ( 1.20%),22.00 ( 5.70%),0.000
126,TS2,1,468.00 ( 10.10%),409.00 ( 9.70%),59.00 ( 15.30%),0.001
128,TSRA2,1,721.00 ( 15.60%),646.00 ( 15.30%),75.00 ( 19.50%),0.035
131,ParasiticIn.,Mean (SD),0.30 ( 0.00),0.30 ( 0.00),0.30 ( 0.00),0.000
134,Influenza.,Mean (SD),0.70 ( 0.10),0.70 ( 0.10),0.60 ( 0.00),0.000
138,Spray,1,359.00 ( 7.80%),273.00 ( 6.50%),86.00 ( 22.30%),0.000
140,Year,2013,"1,006.00 ( 21.80%)",989.00 ( 23.40%),155.00 ( 40.30%),0.000
143,TrapM,Mean (SD),118.70 ( 137.00),115.20 ( 127.20),156.50 ( 214.00),0.000
147,Snow_Fall,1,104.00 ( 2.30%),104.00 ( 2.50%),0.00 ( 0.00%),0.000
151,RA45i,Mean (SD),14.20 ( 3.30),14.30 ( 3.30),13.30 ( 3.20),0.000
156,RA45_2i,Mean (SD),13.00 ( 3.10),13.10 ( 3.10),12.10 ( 2.30),0.000
162,Season_code_1,1,59.00 ( 1.30%),59.00 ( 1.40%),0.00 ( 0.00%),0.014

In [36]:
print(ffWNV5.columns.tolist())

['ID', 'Date', 'Month_Yr', 'Address', 'Block', 'Latitude', 'Longitude', 'Street', 'CULEX_ERRATICUS', 'CULEX_PIPIENS', 'CULEX_PIPIENS_RESTUANS', 'CULEX_RESTUANS', 'CULEX_SALINARIUS', 'CULEX_TARSALIS', 'CULEX_TERRITANS', 'Month', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'PrecipTotal', 'ResultSpeed', 'ResultDir', 'AvgSpeed', 'BR', 'DZ', 'FG', 'HZ', 'RA', 'TS', 'TSRA', 'VCTS', 'Tmax2', 'Tmin2', 'Tavg2', 'WetBulb2', 'Heat2', 'StnPressure2', 'ResultDir2', 'AvgSpeed2', 'BR2', 'DZ2', 'FG2', 'HZ2', 'RA2', 'TS2', 'TSRA2', 'VCTS2', 'ParasiticIn.', 'Influenza.', 'Spray', 'Year', 'TrapM', 'Snow_Fall', 'WnvPresentB', 'PrecipTotal2i', 'RA45i', 'PT45_gt50i', 'RA45_2i', 'PT45_gt50_2i', 'Season_code_1', 'Season_code_2', 'Season_code_3']

In [12]:
ffWNV5['Spray'] = ffWNV5['Spray'].astype('category')
ffWNV5['BR'] = ffWNV5['BR'].astype('category')
ffWNV5['DZ'] = ffWNV5['DZ'].astype('category')
ffWNV5['FG'] = ffWNV5['FG'].astype('category')
ffWNV5['HZ'] = ffWNV5['HZ'].astype('category')

ffWNV5['RA'] = ffWNV5['RA'].astype('category')
ffWNV5['TS'] = ffWNV5['TS'].astype('category')
ffWNV5['TSRA'] = ffWNV5['TSRA'].astype('category')
ffWNV5['VCTS'] = ffWNV5['VCTS'].astype('category')

In [14]:
ffWNV5['PT45_gt50i'] = ffWNV5['PT45_gt50i'].astype('category')
ffWNV5['PT45_gt50_2i'] = ffWNV5['PT45_gt50_2i'].astype('category')

In [52]:
Mo=ffWNV5[['CULEX_ERRATICUS', 'CULEX_PIPIENS', 'CULEX_PIPIENS_RESTUANS', 'CULEX_RESTUANS', 'CULEX_SALINARIUS', 'CULEX_TARSALIS', 'CULEX_TERRITANS','WnvPresentB']]

In [15]:
wead=ffWNV5[['BR', 'DZ', 'FG', 'HZ', 'RA', 'TS', 'TSRA', 'VCTS','WnvPresentB']]

In [10]:
weaq=ffWNV5[['Tmax', 'Tmin', 'Tavg', 'WetBulb2','Depart', 'DewPoint', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'PrecipTotal', 'ResultSpeed', 'ResultDir', 'AvgSpeed','WnvPresentB']]

In [18]:
Newvar=ffWNV5[['RA45i','RA45_2i', 'PT45_gt50i', 'PT45_gt50_2i','WnvPresentB']]

In [20]:
Other=ffWNV5[['ParasiticIn.', 'Influenza.','Spray','WnvPresentB']]

In [21]:
mechkar.pyMechkar().exploreData(data=Other, y='WnvPresentB')

Directory  report  already exists
Directory  report  already exists

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\pyplot.py:522: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)