In [1]:
library(Hmisc)
library(MESS)
library(data.table)
library(dplyr)

Warning message:
"package 'Hmisc' was built under R version 3.5.2"Loading required package: lattice
Loading required package: survival
Loading required package: Formula
Loading required package: ggplot2

Attaching package: 'Hmisc'

The following objects are masked from 'package:base':

    format.pval, units

Loading required package: geepack
Loading required package: geeM
Loading required package: Matrix

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:Hmisc':

    src, summarize

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
X_train <- read.csv(file="C:/Users/Chen/Project/data/X_train.csv")
dim(X_train)
head(X_train)

[1] 3693   61

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1545 2009-06-02 -87.54659 41.74064 6     0             1
2 3014 2011-08-12 -87.67146 41.94723 8     0             1
3 3566 2013-06-14 -87.54659 41.74064 6     0             1
4 2198 2009-08-27 -87.71628 41.84607 8     0             1
5 3351 2011-09-16 -87.55931 41.67862 9     0             0
6 1612 2009-06-12 -87.70305 41.77166 6     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... HZ RA RA45     TS TSRA VCTS
1 0             0               0             ... 0  1  12.08832 0  0    0
2 0             0               0             ... 0  0  10.00000 0  0    0
3 0             0               0             ... 0  0  20.00000 0  0    0
4 0             0               0             ... 0  1  14.00000 0  0    0
5 1             0               0             ... 0  0  13.00000 0  0    0
6 0             0               0             ... 0  1  15.29517 0  0    0
  pre45_1_2 pre45_1 pre45_05 TrapClusterNum
1 1         1       1        7
2 0         1       1        9
3 1         1       1        7
4 1         0       1        1
5 0         1       1        5
6 1         1       1        8

In [18]:
TRAIN <- read.csv(file="C:/Users/Chen/Project/data/TRAIN.csv")
dim(TRAIN)
head(TRAIN)

[1] 3693   63

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1545 2009-06-02 -87.54659 41.74064 6     0             1
2 3014 2011-08-12 -87.67146 41.94723 8     0             1
3 3566 2013-06-14 -87.54659 41.74064 6     0             1
4 2198 2009-08-27 -87.71628 41.84607 8     0             1
5 3351 2011-09-16 -87.55931 41.67862 9     0             0
6 1612 2009-06-12 -87.70305 41.77166 6     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... RA RA45     TS TSRA VCTS
1 0             0               0             ... 1  12.08832 0  0    0
2 0             0               0             ... 0  10.00000 0  0    0
3 0             0               0             ... 0  20.00000 0  0    0
4 0             0               0             ... 1  14.00000 0  0    0
5 1             0               0             ... 0  13.00000 0  0    0
6 0             0               0             ... 1  15.29517 0  0    0
  pre45_1_2 pre45_1 pre45_05 TrapClusterNum dataset
1 1         1       1        7              train
2 0         1       1        9              train
3 1         1       1        7              train
4 1         0       1        1              train
5 0         1       1        5              train
6 1         1       1        8              train

In [19]:
TRAIN$dataset<-NULL

In [20]:
dim(TRAIN)

[1] 3693   62

In [21]:
TRAIN <- fastDummies::dummy_cols(TRAIN, select_columns = "TrapClusterNum")

In [22]:
TRAIN <- fastDummies::dummy_cols(TRAIN, select_columns = "Month")

In [23]:
head(TRAIN)

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1545 2009-06-02 -87.54659 41.74064 6     0             1
2 3014 2011-08-12 -87.67146 41.94723 8     0             1
3 3566 2013-06-14 -87.54659 41.74064 6     0             1
4 2198 2009-08-27 -87.71628 41.84607 8     0             1
5 3351 2011-09-16 -87.55931 41.67862 9     0             0
6 1612 2009-06-12 -87.70305 41.77166 6     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... TrapClusterNum_2
1 0             0               0             ... 0
2 0             0               0             ... 0
3 0             0               0             ... 0
4 0             0               0             ... 0
5 1             0               0             ... 0
6 0             0               0             ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

In [24]:
str(TRAIN)

'data.frame':	3693 obs. of  78 variables:
 $ X                     : int  1545 3014 3566 2198 3351 1612 4206 3035 2256 1450 ...
 $ Date                  : Factor w/ 95 levels "2007-05-29","2007-06-05",..: 35 69 79 54 75 38 90 69 56 33 ...
 $ Longitude             : num  -87.5 -87.7 -87.5 -87.7 -87.6 ...
 $ Latitude              : num  41.7 41.9 41.7 41.8 41.7 ...
 $ Month                 : int  6 8 6 8 9 6 8 8 9 10 ...
 $ Season_code_1         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Season_code_2         : int  1 1 1 1 0 1 1 1 0 0 ...
 $ Season_code_3         : int  0 0 0 0 1 0 0 0 1 1 ...
 $ CULEX_ERRATICUS       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_PIPIENS         : int  0 0 0 0 0 0 10 0 0 23 ...
 $ CULEX_PIPIENS_RESTUANS: int  3 1 2 1 1 2 8 2 21 9 ...
 $ CULEX_RESTUANS        : int  5 0 14 0 6 2 3 0 1 0 ...
 $ CULEX_SALINARIUS      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_TARSALIS        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_TERRITANS       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ParasiticIn           : num  0.28 0.25 0.24 0.26 0.25 0.28 0.26 0.25 0.26 0.27 ...
 $ Influenza             : num  0.85 0.57 0.72 0.6 0.57 0.85 0.58 0.57 0.6 0.77 ...
 $ WnvPresentB           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Tmax2                 : int  61 82 76 67 59 72 78 82 84 77 ...
 $ Tmin2                 : int  50 65 57 62 48 50 67 65 59 50 ...
 $ Tavg2                 : int  21 39 32 30 19 26 38 39 37 29 ...
 $ WetBulb2              : int  20 33 26 32 16 24 37 33 31 22 ...
 $ Heat2                 : int  30 1 1 1 4 25 1 1 1 2 ...
 $ PrecipTotal2          : num  0.06 0 0 1.19 0 0 0.36 0 0 0 ...
 $ StnPressure2          : num  29.4 29.3 29.4 29.4 29.6 ...
 $ ResultDir2            : int  3 19 5 8 13 6 24 19 13 28 ...
 $ AvgSpeed2             : num  9.2 8.4 7.8 11 3.7 6.7 7 8.4 2.7 13.3 ...
 $ DZ2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA2                   : int  1 0 0 1 0 0 1 0 0 0 ...
 $ RA45_2                : num  11 9 17 13 13 ...
 $ BR2                   : int  1 0 0 1 0 0 0 0 0 0 ...
 $ TS2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA2                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS2                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Tmax                  : int  60 81 78 67 58 74 78 81 84 76 ...
 $ Tmin                  : int  48 60 56 61 46 49 68 60 58 49 ...
 $ Tavg                  : int  19 36 32 29 17 27 38 36 36 28 ...
 $ Depart                : int  2 10 1 14 4 14 20 10 25 26 ...
 $ DewPoint              : int  46 59 51 60 40 49 67 59 55 44 ...
 $ Heat                  : int  4 1 1 2 6 24 1 1 1 13 ...
 $ Cool                  : int  1 7 3 1 1 1 9 7 7 1 ...
 $ Sunrise               : int  419 456 416 512 532 416 506 456 530 557 ...
 $ Sunset                : int  1920 1858 1928 1835 1760 1927 1843 1858 1805 1720 ...
 $ PrecipTotal           : num  0.12 0 0 0.95 0 0 0.23 0 0 0 ...
 $ ResultSpeed           : num  7.4 8.3 6.6 9.1 1.4 4.4 1.5 8.3 0.1 11.5 ...
 $ ResultDir             : int  3 19 6 7 8 7 23 19 33 28 ...
 $ AvgSpeed              : num  8 8.5 7.9 9.7 3.3 5.8 7 8.5 2.1 12.8 ...
 $ BR                    : int  1 0 0 1 0 0 0 0 0 0 ...
 $ DZ                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA                    : int  1 0 0 1 0 1 1 0 0 0 ...
 $ RA45                  : num  12.1 10 20 14 13 ...
 $ TS                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ pre45_1_2             : int  1 0 1 1 0 1 0 0 1 0 ...
 $ pre45_1               : int  1 1 1 0 1 1 0 1 0 0 ...
 $ pre45_05              : int  1 1 1 1 1 1 1 1 1 0 ...
 $ TrapClusterNum        : int  7 9 7 1 5 8 6 7 8 7 ...
 $ TrapClusterNum_7      : int  1 0 1 0 0 0 0 1 0 1 ...
 $ TrapClusterNum_9      : int  0 1 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_1      : int  0 0 0 1 0 0 0 0 0 0 ...
 $ TrapClusterNum_5      : int  0 0 0 0 1 0 0 0 0 0 ...
 $ TrapClusterNum_8      : int  0 0 0 0 0 1 0 0 1 0 ...
 $ TrapClusterNum_6      : int  0 0 0 0 0 0 1 0 0 0 ...
 $ TrapClusterNum_2      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_10     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_4      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_3      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Month_6               : int  1 0 1 0 0 1 0 0 0 0 ...
 $ Month_8               : int  0 1 0 1 0 0 1 1 0 0 ...
 $ Month_9               : int  0 0 0 0 1 0 0 0 1 0 ...
 $ Month_10              : int  0 0 0 0 0 0 0 0 0 1 ...
 $ Month_7               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Month_5               : int  0 0 0 0 0 0 0 0 0 0 ...

In [25]:
TRAIN$Month<-NULL
TRAIN$TrapClusterNum<-NULL

In [27]:
dim(TRAIN)
head(TRAIN)

[1] 3693   76

  X    Date       Longitude Latitude Season_code_1 Season_code_2 Season_code_3
1 1545 2009-06-02 -87.54659 41.74064 0             1             0
2 3014 2011-08-12 -87.67146 41.94723 0             1             0
3 3566 2013-06-14 -87.54659 41.74064 0             1             0
4 2198 2009-08-27 -87.71628 41.84607 0             1             0
5 3351 2011-09-16 -87.55931 41.67862 0             0             1
6 1612 2009-06-12 -87.70305 41.77166 0             1             0
  CULEX_ERRATICUS CULEX_PIPIENS CULEX_PIPIENS_RESTUANS ... TrapClusterNum_2
1 0               0             3                      ... 0
2 0               0             1                      ... 0
3 0               0             2                      ... 0
4 0               0             1                      ... 0
5 0               0             1                      ... 0
6 0               0             2                      ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

In [28]:
X_train <- fastDummies::dummy_cols(X_train, select_columns = "TrapClusterNum")
X_train <- fastDummies::dummy_cols(X_train, select_columns = "Month")

In [29]:
dim(X_train)
head(X_train)

[1] 3693   77

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1545 2009-06-02 -87.54659 41.74064 6     0             1
2 3014 2011-08-12 -87.67146 41.94723 8     0             1
3 3566 2013-06-14 -87.54659 41.74064 6     0             1
4 2198 2009-08-27 -87.71628 41.84607 8     0             1
5 3351 2011-09-16 -87.55931 41.67862 9     0             0
6 1612 2009-06-12 -87.70305 41.77166 6     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... TrapClusterNum_2
1 0             0               0             ... 0
2 0             0               0             ... 0
3 0             0               0             ... 0
4 0             0               0             ... 0
5 1             0               0             ... 0
6 0             0               0             ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

In [30]:
str(X_train)

'data.frame':	3693 obs. of  77 variables:
 $ X                     : int  1545 3014 3566 2198 3351 1612 4206 3035 2256 1450 ...
 $ Date                  : Factor w/ 95 levels "2007-05-29","2007-06-05",..: 35 69 79 54 75 38 90 69 56 33 ...
 $ Longitude             : num  -87.5 -87.7 -87.5 -87.7 -87.6 ...
 $ Latitude              : num  41.7 41.9 41.7 41.8 41.7 ...
 $ Month                 : int  6 8 6 8 9 6 8 8 9 10 ...
 $ Season_code_1         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Season_code_2         : int  1 1 1 1 0 1 1 1 0 0 ...
 $ Season_code_3         : int  0 0 0 0 1 0 0 0 1 1 ...
 $ CULEX_ERRATICUS       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_PIPIENS         : int  0 0 0 0 0 0 10 0 0 23 ...
 $ CULEX_PIPIENS_RESTUANS: int  3 1 2 1 1 2 8 2 21 9 ...
 $ CULEX_RESTUANS        : int  5 0 14 0 6 2 3 0 1 0 ...
 $ CULEX_SALINARIUS      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_TARSALIS        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CULEX_TERRITANS       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ParasiticIn           : num  0.28 0.25 0.24 0.26 0.25 0.28 0.26 0.25 0.26 0.27 ...
 $ Influenza             : num  0.85 0.57 0.72 0.6 0.57 0.85 0.58 0.57 0.6 0.77 ...
 $ Tmax2                 : int  61 82 76 67 59 72 78 82 84 77 ...
 $ Tmin2                 : int  50 65 57 62 48 50 67 65 59 50 ...
 $ Tavg2                 : int  21 39 32 30 19 26 38 39 37 29 ...
 $ WetBulb2              : int  20 33 26 32 16 24 37 33 31 22 ...
 $ Heat2                 : int  30 1 1 1 4 25 1 1 1 2 ...
 $ PrecipTotal2          : num  0.06 0 0 1.19 0 0 0.36 0 0 0 ...
 $ StnPressure2          : num  29.4 29.3 29.4 29.4 29.6 ...
 $ ResultDir2            : int  3 19 5 8 13 6 24 19 13 28 ...
 $ AvgSpeed2             : num  9.2 8.4 7.8 11 3.7 6.7 7 8.4 2.7 13.3 ...
 $ DZ2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA2                   : int  1 0 0 1 0 0 1 0 0 0 ...
 $ RA45_2                : num  11 9 17 13 13 ...
 $ BR2                   : int  1 0 0 1 0 0 0 0 0 0 ...
 $ TS2                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA2                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS2                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Tmax                  : int  60 81 78 67 58 74 78 81 84 76 ...
 $ Tmin                  : int  48 60 56 61 46 49 68 60 58 49 ...
 $ Tavg                  : int  19 36 32 29 17 27 38 36 36 28 ...
 $ Depart                : int  2 10 1 14 4 14 20 10 25 26 ...
 $ DewPoint              : int  46 59 51 60 40 49 67 59 55 44 ...
 $ Heat                  : int  4 1 1 2 6 24 1 1 1 13 ...
 $ Cool                  : int  1 7 3 1 1 1 9 7 7 1 ...
 $ Sunrise               : int  419 456 416 512 532 416 506 456 530 557 ...
 $ Sunset                : int  1920 1858 1928 1835 1760 1927 1843 1858 1805 1720 ...
 $ PrecipTotal           : num  0.12 0 0 0.95 0 0 0.23 0 0 0 ...
 $ ResultSpeed           : num  7.4 8.3 6.6 9.1 1.4 4.4 1.5 8.3 0.1 11.5 ...
 $ ResultDir             : int  3 19 6 7 8 7 23 19 33 28 ...
 $ AvgSpeed              : num  8 8.5 7.9 9.7 3.3 5.8 7 8.5 2.1 12.8 ...
 $ BR                    : int  1 0 0 1 0 0 0 0 0 0 ...
 $ DZ                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FG                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HZ                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ RA                    : int  1 0 0 1 0 1 1 0 0 0 ...
 $ RA45                  : num  12.1 10 20 14 13 ...
 $ TS                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TSRA                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ VCTS                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ pre45_1_2             : int  1 0 1 1 0 1 0 0 1 0 ...
 $ pre45_1               : int  1 1 1 0 1 1 0 1 0 0 ...
 $ pre45_05              : int  1 1 1 1 1 1 1 1 1 0 ...
 $ TrapClusterNum        : int  7 9 7 1 5 8 6 7 8 7 ...
 $ TrapClusterNum_7      : int  1 0 1 0 0 0 0 1 0 1 ...
 $ TrapClusterNum_9      : int  0 1 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_1      : int  0 0 0 1 0 0 0 0 0 0 ...
 $ TrapClusterNum_5      : int  0 0 0 0 1 0 0 0 0 0 ...
 $ TrapClusterNum_8      : int  0 0 0 0 0 1 0 0 1 0 ...
 $ TrapClusterNum_6      : int  0 0 0 0 0 0 1 0 0 0 ...
 $ TrapClusterNum_2      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_10     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_4      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TrapClusterNum_3      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Month_6               : int  1 0 1 0 0 1 0 0 0 0 ...
 $ Month_8               : int  0 1 0 1 0 0 1 1 0 0 ...
 $ Month_9               : int  0 0 0 0 1 0 0 0 1 0 ...
 $ Month_10              : int  0 0 0 0 0 0 0 0 0 1 ...
 $ Month_7               : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Month_5               : int  0 0 0 0 0 0 0 0 0 0 ...

In [31]:
X_train$Month<-NULL
X_train$TrapClusterNum<-NULL

In [32]:
dim(X_train)
head(X_train)

[1] 3693   75

  X    Date       Longitude Latitude Season_code_1 Season_code_2 Season_code_3
1 1545 2009-06-02 -87.54659 41.74064 0             1             0
2 3014 2011-08-12 -87.67146 41.94723 0             1             0
3 3566 2013-06-14 -87.54659 41.74064 0             1             0
4 2198 2009-08-27 -87.71628 41.84607 0             1             0
5 3351 2011-09-16 -87.55931 41.67862 0             0             1
6 1612 2009-06-12 -87.70305 41.77166 0             1             0
  CULEX_ERRATICUS CULEX_PIPIENS CULEX_PIPIENS_RESTUANS ... TrapClusterNum_2
1 0               0             3                      ... 0
2 0               0             1                      ... 0
3 0               0             2                      ... 0
4 0               0             1                      ... 0
5 0               0             1                      ... 0
6 0               0             2                      ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

In [33]:
TRAINo<-TRAIN
X_traino<-X_train

In [35]:
head(X_traino)
head(TRAINo)

  X    Date       Longitude Latitude Season_code_1 Season_code_2 Season_code_3
1 1545 2009-06-02 -87.54659 41.74064 0             1             0
2 3014 2011-08-12 -87.67146 41.94723 0             1             0
3 3566 2013-06-14 -87.54659 41.74064 0             1             0
4 2198 2009-08-27 -87.71628 41.84607 0             1             0
5 3351 2011-09-16 -87.55931 41.67862 0             0             1
6 1612 2009-06-12 -87.70305 41.77166 0             1             0
  CULEX_ERRATICUS CULEX_PIPIENS CULEX_PIPIENS_RESTUANS ... TrapClusterNum_2
1 0               0             3                      ... 0
2 0               0             1                      ... 0
3 0               0             2                      ... 0
4 0               0             1                      ... 0
5 0               0             1                      ... 0
6 0               0             2                      ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

  X    Date       Longitude Latitude Season_code_1 Season_code_2 Season_code_3
1 1545 2009-06-02 -87.54659 41.74064 0             1             0
2 3014 2011-08-12 -87.67146 41.94723 0             1             0
3 3566 2013-06-14 -87.54659 41.74064 0             1             0
4 2198 2009-08-27 -87.71628 41.84607 0             1             0
5 3351 2011-09-16 -87.55931 41.67862 0             0             1
6 1612 2009-06-12 -87.70305 41.77166 0             1             0
  CULEX_ERRATICUS CULEX_PIPIENS CULEX_PIPIENS_RESTUANS ... TrapClusterNum_2
1 0               0             3                      ... 0
2 0               0             1                      ... 0
3 0               0             2                      ... 0
4 0               0             1                      ... 0
5 0               0             1                      ... 0
6 0               0             2                      ... 0
  TrapClusterNum_10 TrapClusterNum_4 TrapClusterNum_3 Month_6 Month_8 Month_9
1 0                 0                0                1       0       0
2 0                 0                0                0       1       0
3 0                 0                0                1       0       0
4 0                 0                0                0       1       0
5 0                 0                0                0       0       1
6 0                 0                0                1       0       0
  Month_10 Month_7 Month_5
1 0        0       0
2 0        0       0
3 0        0       0
4 0        0       0
5 0        0       0
6 0        0       0

In [36]:
write.csv(X_traino, file="C:/Users/Chen/Project/data/X_traino.csv", row.names =F)
write.csv(TRAINo, file="C:/Users/Chen/Project/data/TRAINo.csv", row.names =F)

In [37]:
TEST <- read.csv(file="C:/Users/Chen/Project/data/TEST.csv")
dim(TEST)
head(TEST)

[1] 461  63

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1214 2007-09-19 -87.72655 41.82561 9     0             0
2 2381 2009-09-25 -87.75241 41.77830 9     0             0
3 1745 2009-06-26 -87.59986 41.67341 6     0             1
4   20 2007-06-05 -87.81283 41.98196 6     0             1
5 2275 2009-09-14 -87.69499 41.85740 9     0             0
6  468 2007-08-01 -87.66634 41.82254 8     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... RA RA45     TS TSRA VCTS
1 1             0                0            ... 0  17.00000 0  0    0
2 1             0                0            ... 1  11.00000 0  0    0
3 0             0                1            ... 0  15.00000 0  0    0
4 0             0                0            ... 1  16.31623 0  0    0
5 1             0                0            ... 0  12.00000 0  0    0
6 0             0               12            ... 0  12.00000 0  0    0
  pre45_1_2 pre45_1 pre45_05 TrapClusterNum dataset
1 1         1       1        8              test
2 1         0       1        8              test
3 1         1       1        5              test
4 1         1       1        2              test
5 1         0       1        1              test
6 0         1       1        1              test

In [38]:
TEST$dataset<-NULL

In [39]:
TEST <- fastDummies::dummy_cols(TEST, select_columns = "TrapClusterNum")
TEST <- fastDummies::dummy_cols(TEST, select_columns = "Month")

In [40]:
dim(TEST)
head(TEST)

[1] 461  78

  X    Date       Longitude Latitude Month Season_code_1 Season_code_2
1 1214 2007-09-19 -87.72655 41.82561 9     0             0
2 2381 2009-09-25 -87.75241 41.77830 9     0             0
3 1745 2009-06-26 -87.59986 41.67341 6     0             1
4   20 2007-06-05 -87.81283 41.98196 6     0             1
5 2275 2009-09-14 -87.69499 41.85740 9     0             0
6  468 2007-08-01 -87.66634 41.82254 8     0             1
  Season_code_3 CULEX_ERRATICUS CULEX_PIPIENS ... TrapClusterNum_7
1 1             0                0            ... 0
2 1             0                0            ... 0
3 0             0                1            ... 0
4 0             0                0            ... 0
5 1             0                0            ... 0
6 0             0               12            ... 0
  TrapClusterNum_4 TrapClusterNum_9 TrapClusterNum_10 Month_9 Month_6 Month_8
1 0                0                0                 1       0       0
2 0                0                0                 1       0       0
3 0                0                0                 0       1       0
4 0                0                0                 0       1       0
5 0                0                0                 1       0       0
6 0                0                0                 0       0       1
  Month_7 Month_5 Month_10
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 0       0       0
6 0       0       0

In [41]:
TEST$Month<-NULL
TEST$TrapClusterNum<-NULL

In [43]:
TESTo<-TEST

In [44]:
dim(TESTo)
head(TESTo)

[1] 461  76

  X    Date       Longitude Latitude Season_code_1 Season_code_2 Season_code_3
1 1214 2007-09-19 -87.72655 41.82561 0             0             1
2 2381 2009-09-25 -87.75241 41.77830 0             0             1
3 1745 2009-06-26 -87.59986 41.67341 0             1             0
4   20 2007-06-05 -87.81283 41.98196 0             1             0
5 2275 2009-09-14 -87.69499 41.85740 0             0             1
6  468 2007-08-01 -87.66634 41.82254 0             1             0
  CULEX_ERRATICUS CULEX_PIPIENS CULEX_PIPIENS_RESTUANS ... TrapClusterNum_7
1 0                0             4                     ... 0
2 0                0             4                     ... 0
3 0                1             1                     ... 0
4 0                0             0                     ... 0
5 0                0             1                     ... 0
6 0               12            65                     ... 0
  TrapClusterNum_4 TrapClusterNum_9 TrapClusterNum_10 Month_9 Month_6 Month_8
1 0                0                0                 1       0       0
2 0                0                0                 1       0       0
3 0                0                0                 0       1       0
4 0                0                0                 0       1       0
5 0                0                0                 1       0       0
6 0                0                0                 0       0       1
  Month_7 Month_5 Month_10
1 0       0       0
2 0       0       0
3 0       0       0
4 0       0       0
5 0       0       0
6 0       0       0

In [45]:
write.csv(TESTo, file="C:/Users/Chen/Project/data/TESTo.csv", row.names =F)