In [1]:
import numpy as np
#from sklearn import metrics
from sklearn.metrics import mean_squared_error, accuracy_score
import pandas as pd

In [5]:
wea2=pd.read_csv("C:/Users/Chen/Project/data/wea2.csv")

In [6]:
wea2.head()

,Station2,Date2,Tmax2,Tmin2,Tavg2,DewPoint2,WetBulb2,Heat2,Cool2,CodeSum2,PrecipTotal2,StnPressure2,SeaLevel2,ResultSpeed2,ResultDir2,AvgSpeed2
0,2,2007-05-01,84,52,33.0,51,26.0,1.0,4.0,,0.0,29.18,29.82,2.7,25,9.6
1,2,2007-05-02,60,43,17.0,42,16.0,6.0,1.0,BR HZ,0.0,29.44,30.08,13.3,2,13.4
2,2,2007-05-03,67,48,23.0,40,19.0,28.0,1.0,HZ,0.0,29.46,30.12,12.9,6,13.2
3,2,2007-05-04,78,51,NaN,42,19.0,NaN,NaN,,0.0,29.36,30.04,10.1,7,10.4
4,2,2007-05-05,66,54,25.0,39,19.0,26.0,1.0,,0.0,29.46,30.09,11.2,7,11.5

In [7]:
wea2.sort_values(by=['CodeSum2'],ascending=False).head(15)

,Station2,Date2,Tmax2,Tmin2,Tavg2,DewPoint2,WetBulb2,Heat2,Cool2,CodeSum2,PrecipTotal2,StnPressure2,SeaLevel2,ResultSpeed2,ResultDir2,AvgSpeed2
72,2,2007-07-12,80,60,35.0,51,29.0,1.0,6.0,VCTS,0.00,29.28,29.92,10.0,28,11.4
98,2,2007-08-07,92,73,48.0,73,45.0,1.0,19.0,VCTS,0.06,29.11,29.74,6.3,24,8.8
265,2,2008-07-21,84,70,42.0,66,38.0,1.0,13.0,TSRA RA VCTS,0.13,29.26,29.90,2.4,2,8.0
64,2,2007-07-04,84,67,41.0,65,38.0,1.0,12.0,TSRA RA HZ FU,0.66,29.23,29.88,3.1,25,8.8
48,2,2007-06-18,89,73,46.0,65,39.0,1.0,17.0,TSRA RA HZ,0.02,29.19,29.83,12.2,20,12.6
1380,2,2014-08-01,83,67,40.0,60,34.0,1.0,11.0,TSRA RA HZ,0.21,29.41,30.05,5.5,23,7.3
926,2,2012-05-07,61,54,23.0,56,26.0,28.0,1.0,TSRA RA FG+ FG BR,0.59,29.20,29.86,1.4,5,5.1
764,2,2011-05-29,72,57,30.0,60,30.0,1.0,1.0,TSRA RA FG+ BR,0.92,29.23,29.86,3.6,11,6.6
563,2,2010-05-12,53,46,15.0,45,16.0,8.0,1.0,TSRA RA DZ BR HZ,0.14,29.41,30.09,8.3,6,10.0
99,2,2007-08-08,87,74,46.0,72,43.0,1.0,17.0,TSRA RA DZ BR HZ,0.09,29.18,29.81,1.5,4,6.4
763,2,2011-05-28,64,52,23.0,55,26.0,28.0,1.0,TSRA RA DZ BR HZ,0.23,29.16,29.83,4.4,18,5.8
380,2,2009-05-13,71,54,28.0,58,29.0,13.0,1.0,TSRA RA DZ BR,1.03,29.08,29.77,12.9,18,14.8
777,2,2011-06-11,65,53,24.0,54,25.0,27.0,1.0,TSRA RA DZ BR,0.10,29.29,29.94,5.4,2,5.8
819,2,2011-07-23,87,70,44.0,70,42.0,1.0,15.0,TSRA RA BR VCTS,0.04,29.28,29.93,0.7,20,4.9
96,2,2007-08-05,88,68,43.0,71,41.0,1.0,14.0,TSRA RA BR VCTS,0.97,29.15,29.79,7.0,22,10.2

In [8]:
wea2['CodeSum2']=wea2.apply(lambda row: row['CodeSum2'].split() , axis=1)

In [9]:
wea2.sort_values(by=['CodeSum2'],ascending=False).head(10)

,Station2,Date2,Tmax2,Tmin2,Tavg2,DewPoint2,WetBulb2,Heat2,Cool2,CodeSum2,PrecipTotal2,StnPressure2,SeaLevel2,ResultSpeed2,ResultDir2,AvgSpeed2
72,2,2007-07-12,80,60,35.0,51,29.0,1.0,6.0,[VCTS],0.00,29.28,29.92,10.0,28,11.4
98,2,2007-08-07,92,73,48.0,73,45.0,1.0,19.0,[VCTS],0.06,29.11,29.74,6.3,24,8.8
265,2,2008-07-21,84,70,42.0,66,38.0,1.0,13.0,"[TSRA, RA, VCTS]",0.13,29.26,29.90,2.4,2,8.0
64,2,2007-07-04,84,67,41.0,65,38.0,1.0,12.0,"[TSRA, RA, HZ, FU]",0.66,29.23,29.88,3.1,25,8.8
48,2,2007-06-18,89,73,46.0,65,39.0,1.0,17.0,"[TSRA, RA, HZ]",0.02,29.19,29.83,12.2,20,12.6
1380,2,2014-08-01,83,67,40.0,60,34.0,1.0,11.0,"[TSRA, RA, HZ]",0.21,29.41,30.05,5.5,23,7.3
926,2,2012-05-07,61,54,23.0,56,26.0,28.0,1.0,"[TSRA, RA, FG+, FG, BR]",0.59,29.20,29.86,1.4,5,5.1
764,2,2011-05-29,72,57,30.0,60,30.0,1.0,1.0,"[TSRA, RA, FG+, BR]",0.92,29.23,29.86,3.6,11,6.6
563,2,2010-05-12,53,46,15.0,45,16.0,8.0,1.0,"[TSRA, RA, DZ, BR, HZ]",0.14,29.41,30.09,8.3,6,10.0
99,2,2007-08-08,87,74,46.0,72,43.0,1.0,17.0,"[TSRA, RA, DZ, BR, HZ]",0.09,29.18,29.81,1.5,4,6.4

In [10]:
from sklearn.preprocessing import MultiLabelBinarizer

In [11]:
mlb = MultiLabelBinarizer()
wea22 = wea2.join(pd.DataFrame(mlb.fit_transform(wea2.pop('CodeSum2')),
                          columns=mlb.classes_,
                          index=wea2.index))

In [12]:
wea22.head()

,Station2,Date2,Tmax2,Tmin2,Tavg2,DewPoint2,WetBulb2,Heat2,Cool2,PrecipTotal2,...,FU,GR,HZ,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,2,2007-05-01,84,52,33.0,51,26.0,1.0,4.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-02,60,43,17.0,42,16.0,6.0,1.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,2,2007-05-03,67,48,23.0,40,19.0,28.0,1.0,0.0,...,0,0,1,0,0,0,0,0,0,0
3,2,2007-05-04,78,51,NaN,42,19.0,NaN,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2,2007-05-05,66,54,25.0,39,19.0,26.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
wea22.dtypes

Station2          int64
Date2            object
Tmax2             int64
Tmin2             int64
Tavg2           float64
DewPoint2         int64
WetBulb2        float64
Heat2           float64
Cool2           float64
PrecipTotal2    float64
StnPressure2    float64
SeaLevel2       float64
ResultSpeed2    float64
ResultDir2        int64
AvgSpeed2       float64
BCFG              int32
BR                int32
DZ                int32
FG                int32
FG+               int32
FU                int32
GR                int32
HZ                int32
RA                int32
SN                int32
SQ                int32
TS                int32
TSRA              int32
VCFG              int32
VCTS              int32
dtype: object

In [14]:
wea22.to_csv('C:\\Users\\Chen\\Project\\data\\wea22.csv', index=False)