In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, accuracy_score

In [3]:
## error = sum of squared errors (SSE)
def error(predicted, observed):
    err = sum(np.subtract(predicted, observed)**2)
    return(err)

In [6]:
X_train=pd.read_csv("C:/Users/Chen/Project/data/X_over.csv")
y_train=pd.read_csv("C:/Users/Chen/Project/data/y_over.csv")

X_train=pd.read_csv("X_over.csv")
y_train=pd.read_csv("y_over.csv")

In [7]:
print(X_train.shape)
print(y_train.shape)

(6762, 61)
(6762, 1)

In [8]:
X_train.head()

,Longitude,Latitude,Season_code_1,Season_code_2,Season_code_3,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,CULEX_SALINARIUS,...,HZ,RA,AvgSpeed2,AvgSpeed,ResultSpeed,RA45,RA45_2,pre45_1_2,pre45_1,PrecipTotal
0,-87.546587,41.740641,0,1,0,0,0,3,5,0,...,0,1,9.2,8.0,7.4,12.088315,11.048196,1,1,0.12
1,-87.671457,41.947227,0,1,0,0,0,1,0,0,...,0,0,8.4,8.5,8.3,10.000000,9.000000,0,1,0.00
2,-87.546587,41.740641,0,1,0,0,0,2,14,0,...,0,0,7.8,7.9,6.6,20.000000,17.000000,1,1,0.00
3,-87.716277,41.846075,0,1,0,0,0,1,0,0,...,0,1,11.0,9.7,9.1,14.000000,13.000000,1,0,0.95
4,-87.559308,41.678618,0,0,1,0,0,1,6,0,...,0,0,3.7,3.3,1.4,13.000000,13.000000,0,1,0.00

In [9]:
y_train.head()

   WnvPresentB
0            0
1            0
2            0
3            0
4            0

In [12]:
#test is test (=X_tt.csv & y_test.csv)
X_test=pd.read_csv("C:/Users/Chen/Project/data/X_tt.csv")
y_test=pd.read_csv("C:/Users/Chen/Project/data/y_test.csv")

In [13]:
X_test=X_test.drop(['X'], axis=1)

In [14]:
y_test=y_test.drop(['X'], axis=1)

In [15]:
X_test.head()

,Longitude,Latitude,Season_code_1,Season_code_2,Season_code_3,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,CULEX_SALINARIUS,...,HZ,RA,AvgSpeed2,AvgSpeed,ResultSpeed,RA45,RA45_2,pre45_1_2,pre45_1,PrecipTotal
0,-87.726549,41.825610,0,0,1,0,0,4,0,0,...,0,0,9.0,9.7,5.0,17.000000,11.000000,1,1,0.00
1,-87.752411,41.778297,0,0,1,0,0,4,0,0,...,0,1,6.3,7.3,5.4,11.000000,10.000000,1,0,0.16
2,-87.599862,41.673408,0,1,0,0,1,1,4,0,...,0,0,8.0,8.2,6.4,15.000000,15.000000,1,1,0.00
3,-87.812827,41.981964,0,1,0,0,0,0,2,0,...,0,1,8.1,7.6,5.2,16.316231,19.648348,1,1,0.42
4,-87.694991,41.857402,0,0,1,0,0,1,0,0,...,0,0,2.7,2.1,0.1,12.000000,10.000000,1,0,0.00

In [16]:
y_test.head()

   WnvPresentB
0            0
1            0
2            0
3            0
4            0

In [17]:
print(X_test.shape)
print(y_test.shape)

(461, 61)
(461, 1)

In [18]:
### We will create a table for comparing the results
res = pd.DataFrame(columns=['model','accuracy','auc','error'])
res = []

## Logistic Regression

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import auc, roc_curve

# Initialize the predictive model object
mod_logistic = LogisticRegression(random_state=2)

# Train the model using the training sets
mod_logistic.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_logistic.predict(X_test)

In [36]:
#model = forest.fit(train_fold, train_y.values.ravel())

In [20]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      325  101
1        4   31

In [21]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Logistic regression','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7722342733188721,
  'auc': 0.8243125419181757,
  'err': 105}]

## Naive Bayes

In [39]:
from sklearn.naive_bayes import GaussianNB

# Initialize the predictive model object
mod_bayes = GaussianNB()

# Train the model using the training sets
y_pred = mod_bayes.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_bayes.predict(X_test)

In [40]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      218  208
1        2   33

In [41]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Naive Bayes','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'}]

# Decision Trees in Scikit-learn
 
Scikit-learn has only one implementation of the decision trees algoritms: an enhanced version of CART. There is also a library in github for the C4.5, but I'm not sure it has been tested for QA. So we will only use the CART implementation in Python...

## CART

In [42]:
from sklearn import tree

# Initialize the predictive model object
mod_cart = tree.DecisionTreeClassifier(random_state=2)

# Train the model using the training sets
y_pred = mod_cart.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_cart.predict(X_test)

In [43]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      395  31
1       18  17

In [44]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'CART tree','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'}]

## Random Forest

In [45]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the predictive model object
mod_rforest = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=1)

# Train the model using the training sets
y_pred = mod_rforest.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_rforest.predict(X_test)

In [46]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      322  104
1        5   30

In [47]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Random Forest','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'},
 {'accuracy': 0.7635574837310195,
  'auc': 0.8065057008718981,
  'err': 109,
  'model': 'Random Forest'}]

In [48]:
#from sklearn.ensemble import RandomForestClassifier

# Initialize the predictive model object
mod_rforest2 = RandomForestClassifier(n_estimators=500, max_depth=2, random_state=1)

# Train the model using the training sets
y_pred2 = mod_rforest2.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred2 = mod_rforest2.predict(X_test)

In [49]:
pd.crosstab(y_test.values.ravel(), pred2)

col_0    0    1
row_0
0      297  129
1        5   30

In [50]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred2)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred2)
res.append({'model':'Random Forest 500','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'},
 {'accuracy': 0.7635574837310195,
  'auc': 0.8065057008718981,
  'err': 109,
  'model': 'Random Forest'},
 {'accuracy': 0.7093275488069414,
  'auc': 0.8065057008718981,
  'err': 134,
  'model': 'Random Forest 500'}]

## AdaBoost

In [51]:
from sklearn.ensemble import AdaBoostClassifier

# Initialize the predictive model object
mod_rforest = AdaBoostClassifier(random_state=1)

# Train the model using the training sets
y_pred = mod_rforest.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_rforest.predict(X_test)

In [52]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      346  80
1        3  32

In [53]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'AdaBoost','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'},
 {'accuracy': 0.7635574837310195,
  'auc': 0.8065057008718981,
  'err': 109,
  'model': 'Random Forest'},
 {'accuracy': 0.7093275488069414,
  'auc': 0.8065057008718981,
  'err': 134,
  'model': 'Random Forest 500'},
 {'accuracy': 0.8199566160520607,
  'auc': 0.8632461435278336,
  'err': 83,
  'model': 'AdaBoost'}]

## XGBoost

In [54]:
import sys
!{sys.executable} -m pip install xgboost
#import xgboost as xgb

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/54/21/8b2ec99862903a6d3aed62ce156d21d114b8666e669c46d9e54041df9496/xgboost-0.81-py2.py3-none-manylinux1_x86_64.whl (16.6MB)
    100% |████████████████████████████████| 16.6MB 4.1MB/s eta 0:00:01
Requirement already satisfied: scipy in /home/karpati/anaconda3/lib/python3.5/site-packages (from xgboost) (1.1.0)
Requirement already satisfied: numpy in /home/karpati/anaconda3/lib/python3.5/site-packages (from xgboost) (1.15.4)
Installing collected packages: xgboost
Successfully installed xgboost-0.81
You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [55]:
import xgboost as xgb

# Transform data to a DMatrix object
dtrain = xgb.DMatrix(np.array(X_train), label=y_train.values.ravel())
dtest = xgb.DMatrix(np.array(X_test), y_test.values.ravel())

In [56]:
# Set the parameters for the xgboost
param = {'max_depth': 2, 'eta': 1, 'silent': 1, 'objective': 'binary:logistic'}
#param['nthread'] = 10
param['eval_metric'] = 'rmse'


# Train the model using the training sets
num_round = 10
mod_xgboost = xgb.train(param, dtrain, num_round)

# Make predictions using the testing set
pred = mod_xgboost.predict(dtest)

In [57]:
pred_class = np.where(pred >= 0.5, 1, 0)
pd.crosstab(y_test.values.ravel(), pred_class)

col_0    0   1
row_0
0      355  71
1        3  32

In [58]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred_class)
#err = metrics.mean_squared_error(y_test, pred_class)
err = error(y_test.values.ravel(), pred_class)
res.append({'model':'XGBoost','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'},
 {'accuracy': 0.7635574837310195,
  'auc': 0.8065057008718981,
  'err': 109,
  'model': 'Random Forest'},
 {'accuracy': 0.7093275488069414,
  'auc': 0.8065057008718981,
  'err': 134,
  'model': 'Random Forest 500'},
 {'accuracy': 0.8199566160520607,
  'auc': 0.8632461435278336,
  'err': 83,
  'model': 'AdaBoost'},
 {'accuracy': 0.8394793926247288,
  'auc': 0.9326626425217974,
  'err': 74,
  'model': 'XGBoost'}]

## Support Vector Machine

In [59]:
from sklearn import svm

# Initialize the predictive model object
mod_svm = svm.SVC(C=1,gamma=0.1)

# Train the model using the training sets
y_pred = mod_svm.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_svm.predict(X_test)

In [60]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      414  12
1       28   7

In [61]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred_class)
err = error(y_test.values.ravel(), pred)
res.append({'model':'SVM','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'accuracy': 0.7787418655097614,
  'auc': 0.8278336686787391,
  'err': 102,
  'model': 'Logistic regression'},
 {'accuracy': 0.544468546637744,
  'auc': 0.7272971160295104,
  'err': 210,
  'model': 'Naive Bayes'},
 {'accuracy': 0.8937093275488069,
  'auc': 0.7064721663313213,
  'err': 49,
  'model': 'CART tree'},
 {'accuracy': 0.7635574837310195,
  'auc': 0.8065057008718981,
  'err': 109,
  'model': 'Random Forest'},
 {'accuracy': 0.7093275488069414,
  'auc': 0.8065057008718981,
  'err': 134,
  'model': 'Random Forest 500'},
 {'accuracy': 0.8199566160520607,
  'auc': 0.8632461435278336,
  'err': 83,
  'model': 'AdaBoost'},
 {'accuracy': 0.8394793926247288,
  'auc': 0.9326626425217974,
  'err': 74,
  'model': 'XGBoost'},
 {'accuracy': 0.913232104121475,
  'auc': 0.5859154929577465,
  'err': 40,
  'model': 'SVM'}]

In [63]:
pd.DataFrame(res).sort_values(ascending=False,by=['auc','accuracy','err'])

   accuracy       auc  err                model
6  0.839479  0.932663   74              XGBoost
5  0.819957  0.863246   83             AdaBoost
0  0.778742  0.827834  102  Logistic regression
3  0.763557  0.806506  109        Random Forest
4  0.709328  0.806506  134    Random Forest 500
1  0.544469  0.727297  210          Naive Bayes
2  0.893709  0.706472   49            CART tree
7  0.913232  0.585915   40                  SVM