In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import numpy as np
from sklearn import metrics
from sklearn.metrics import mean_squared_error, accuracy_score

In [3]:
## error = sum of squared errors (SSE)
def error(predicted, observed):
    err = sum(np.subtract(predicted, observed)**2)
    return(err)

In [4]:
X_train=pd.read_csv("C:/Users/Chen/Project/data/X_over.csv")
y_train=pd.read_csv("C:/Users/Chen/Project/data/y_over.csv")

In [5]:
print(X_train.shape)
print(y_train.shape)

(6762, 61)
(6762, 1)

In [6]:
X_train.head()

,Longitude,Latitude,Season_code_1,Season_code_2,Season_code_3,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,CULEX_SALINARIUS,...,HZ,RA,AvgSpeed2,AvgSpeed,ResultSpeed,RA45,RA45_2,pre45_1_2,pre45_1,PrecipTotal
0,-87.546587,41.740641,0,1,0,0,0,3,5,0,...,0,1,9.2,8.0,7.4,12.088315,11.048196,1,1,0.12
1,-87.671457,41.947227,0,1,0,0,0,1,0,0,...,0,0,8.4,8.5,8.3,10.000000,9.000000,0,1,0.00
2,-87.546587,41.740641,0,1,0,0,0,2,14,0,...,0,0,7.8,7.9,6.6,20.000000,17.000000,1,1,0.00
3,-87.716277,41.846075,0,1,0,0,0,1,0,0,...,0,1,11.0,9.7,9.1,14.000000,13.000000,1,0,0.95
4,-87.559308,41.678618,0,0,1,0,0,1,6,0,...,0,0,3.7,3.3,1.4,13.000000,13.000000,0,1,0.00

In [7]:
y_train.head()

   WnvPresentB
0            0
1            0
2            0
3            0
4            0

In [8]:
# test is dev(=X_dv.csv & y_dev.csv)
X_test=pd.read_csv("C:/Users/Chen/Project/data/X_dv.csv")
y_test=pd.read_csv("C:/Users/Chen/Project/data/y_dev.csv")

In [9]:
X_test=X_test.drop(['X'], axis=1)

In [10]:
y_test=y_test.drop(['X'], axis=1)

In [11]:
X_test.head()

,Longitude,Latitude,Season_code_1,Season_code_2,Season_code_3,CULEX_ERRATICUS,CULEX_PIPIENS,CULEX_PIPIENS_RESTUANS,CULEX_RESTUANS,CULEX_SALINARIUS,...,HZ,RA,AvgSpeed2,AvgSpeed,ResultSpeed,RA45,RA45_2,pre45_1_2,pre45_1,PrecipTotal
0,-87.662140,42.010412,0,1,0,0,0,1,1,0,...,0,0,9.2,9.9,9.5,13.42725,14.053467,1,1,0.0
1,-87.678649,41.768388,0,1,0,0,0,1,0,0,...,0,0,3.4,3.3,1.9,12.00000,10.000000,0,1,0.0
2,-87.794896,41.940160,0,0,1,0,1,11,0,0,...,0,0,10.5,11.9,11.4,13.00000,10.000000,1,1,0.0
3,-87.777189,41.960616,0,1,0,0,0,3,4,0,...,0,0,5.0,4.9,4.2,11.00000,12.000000,0,0,0.0
4,-87.777189,41.960616,0,1,0,0,0,2,0,0,...,0,1,10.5,8.4,7.8,18.00000,21.000000,1,1,0.5

In [12]:
y_test.head()

   WnvPresentB
0            0
1            0
2            0
3            0
4            0

In [13]:
print(X_test.shape)
print(y_test.shape)

(462, 61)
(462, 1)

In [19]:
### We will create a table for comparing the results
res = pd.DataFrame(columns=['model','accuracy','auc','error'])
res = []

## Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import auc, roc_curve

# Initialize the predictive model object
mod_logistic = LogisticRegression()

# Train the model using the training sets
mod_logistic.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_logistic.predict(X_test)

In [16]:
#model = forest.fit(train_fold, train_y.values.ravel())

In [22]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      318  106
1       10   28

In [23]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Logistic regression','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116}]

## Naive Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB

# Initialize the predictive model object
mod_bayes = GaussianNB()

# Train the model using the training sets
y_pred = mod_bayes.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_bayes.predict(X_test)

In [25]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      210  214
1        6   32

In [26]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Naive Bayes','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220}]

# Decision Trees in Scikit-learn
 

## CART

In [27]:
from sklearn import tree

# Initialize the predictive model object
mod_cart = tree.DecisionTreeClassifier(random_state=2)

# Train the model using the training sets
y_pred = mod_cart.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_cart.predict(X_test)

In [28]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      395  29
1       21  17

In [29]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'CART tree','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50}]

## Random Forest

In [30]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the predictive model object
mod_rforest = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=1)

# Train the model using the training sets
y_pred = mod_rforest.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_rforest.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [31]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0    1
row_0
0      317  107
1        7   31

In [32]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'Random Forest','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50},
 {'model': 'Random Forest',
  'accuracy': 0.7532467532467533,
  'auc': 0.7817154915590864,
  'err': 114}]

In [33]:
#from sklearn.ensemble import RandomForestClassifier

# Initialize the predictive model object
mod_rforest2 = RandomForestClassifier(n_estimators=500, max_depth=2, random_state=1)

# Train the model using the training sets
y_pred2 = mod_rforest2.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred2 = mod_rforest2.predict(X_test)

In [34]:
pd.crosstab(y_test.values.ravel(), pred2)

col_0    0    1
row_0
0      294  130
1        6   32

In [35]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred2)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred2)
res.append({'model':'Random Forest 500','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50},
 {'model': 'Random Forest',
  'accuracy': 0.7532467532467533,
  'auc': 0.7817154915590864,
  'err': 114},
 {'model': 'Random Forest 500',
  'accuracy': 0.7056277056277056,
  'auc': 0.7817154915590864,
  'err': 136}]

## AdaBoost

In [36]:
from sklearn.ensemble import AdaBoostClassifier

# Initialize the predictive model object
mod_rforest = AdaBoostClassifier(random_state=1)

# Train the model using the training sets
y_pred = mod_rforest.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_rforest.predict(X_test)

In [37]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      346  78
1        8  30

In [38]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred)
err = error(y_test.values.ravel(), pred)
res.append({'model':'AdaBoost','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50},
 {'model': 'Random Forest',
  'accuracy': 0.7532467532467533,
  'auc': 0.7817154915590864,
  'err': 114},
 {'model': 'Random Forest 500',
  'accuracy': 0.7056277056277056,
  'auc': 0.7817154915590864,
  'err': 136},
 {'model': 'AdaBoost',
  'accuracy': 0.8138528138528138,
  'auc': 0.8027557100297914,
  'err': 86}]

## XGBoost

In [34]:
import sys
!{sys.executable} -m pip install xgboost
#import xgboost as xgb

Requirement already satisfied: xgboost in c:\programdata\anaconda3\lib\site-packages (0.81)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.1.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.15.1)

You are using pip version 18.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [39]:
import xgboost as xgb

# Transform data to a DMatrix object
dtrain = xgb.DMatrix(np.array(X_train), label=y_train.values.ravel())
dtest = xgb.DMatrix(np.array(X_test), y_test.values.ravel())

In [40]:
# Set the parameters for the xgboost
param = {'max_depth': 2, 'eta': 1, 'silent': 1, 'objective': 'binary:logistic'}
#param['nthread'] = 10
param['eval_metric'] = 'rmse'


# Train the model using the training sets
num_round = 10
mod_xgboost = xgb.train(param, dtrain, num_round)

# Make predictions using the testing set
pred = mod_xgboost.predict(dtest)

In [41]:
pred_class = np.where(pred >= 0.5, 1, 0)
pd.crosstab(y_test.values.ravel(), pred_class)

col_0    0   1
row_0
0      350  74
1        8  30

In [42]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred_class)
#err = metrics.mean_squared_error(y_test, pred_class)
err = error(y_test.values.ravel(), pred_class)
res.append({'model':'XGBoost','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50},
 {'model': 'Random Forest',
  'accuracy': 0.7532467532467533,
  'auc': 0.7817154915590864,
  'err': 114},
 {'model': 'Random Forest 500',
  'accuracy': 0.7056277056277056,
  'auc': 0.7817154915590864,
  'err': 136},
 {'model': 'AdaBoost',
  'accuracy': 0.8138528138528138,
  'auc': 0.8027557100297914,
  'err': 86},
 {'model': 'XGBoost',
  'accuracy': 0.8225108225108225,
  'auc': 0.893216236345581,
  'err': 82}]

## Support Vector Machine

In [43]:
from sklearn import svm

# Initialize the predictive model object
mod_svm = svm.SVC(C=1,gamma=0.1)

# Train the model using the training sets
y_pred = mod_svm.fit(X_train, y_train.values.ravel())

# Make predictions using the testing set
pred = mod_svm.predict(X_test)

In [44]:
pd.crosstab(y_test.values.ravel(), pred)

col_0    0   1
row_0
0      406  18
1       35   3

In [45]:
fpr, tpr, thresholds = metrics.roc_curve(y_test.values.ravel(), pred, pos_label=1)
auc1 = auc(fpr, tpr)
acc = accuracy_score(y_test.values.ravel(), pred)
#err = metrics.mean_squared_error(y_test, pred_class)
err = error(y_test.values.ravel(), pred)
res.append({'model':'SVM','accuracy':acc, 'auc':auc1, 'err':err})
res

[{'model': 'Logistic regression',
  'accuracy': 0.7489177489177489,
  'auc': 0.743421052631579,
  'err': 116},
 {'model': 'Naive Bayes',
  'accuracy': 0.5238095238095238,
  'auc': 0.6686941410129096,
  'err': 220},
 {'model': 'CART tree',
  'accuracy': 0.8917748917748918,
  'auc': 0.6894860973187686,
  'err': 50},
 {'model': 'Random Forest',
  'accuracy': 0.7532467532467533,
  'auc': 0.7817154915590864,
  'err': 114},
 {'model': 'Random Forest 500',
  'accuracy': 0.7056277056277056,
  'auc': 0.7817154915590864,
  'err': 136},
 {'model': 'AdaBoost',
  'accuracy': 0.8138528138528138,
  'auc': 0.8027557100297914,
  'err': 86},
 {'model': 'XGBoost',
  'accuracy': 0.8225108225108225,
  'auc': 0.893216236345581,
  'err': 82},
 {'model': 'SVM',
  'accuracy': 0.8852813852813853,
  'auc': 0.5182472691161867,
  'err': 53}]

In [46]:
pd.DataFrame(res).sort_values(ascending=False,by=['auc','accuracy','err'])

   accuracy       auc  err                model
6  0.822511  0.893216   82              XGBoost
5  0.813853  0.802756   86             AdaBoost
3  0.753247  0.781715  114        Random Forest
4  0.705628  0.781715  136    Random Forest 500
0  0.748918  0.743421  116  Logistic regression
2  0.891775  0.689486   50            CART tree
1  0.523810  0.668694  220          Naive Bayes
7  0.885281  0.518247   53                  SVM